body {
  margin: auto; }

.header {
  display: block;
  background-color: #232526; }

.header-up {
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-up {
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      margin: auto; } }

.header-up-adresa {
  display: flex;
  align-items: center;
  margin-right: 50px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-up-adresa {
      margin-right: 15px; } }
  .header-up-adresa .arrow {
    margin-right: 15px; }
  .header-up-adresa .adresa p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-up-adresa .adresa p {
        font-size: 16px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-up-adresa .adresa p {
        font-size: 15px; } }

.header-up-mail {
  display: flex;
  align-items: center; }
  .header-up-mail .message {
    margin-right: 15px; }
  .header-up-mail .mail p {
    font-size: 18px;
    color: white;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-up-mail .mail p {
        font-size: 16px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-up-mail .mail p {
        font-size: 15px; } }

.header-down {
  display: flex;
  margin: auto;
  border-bottom: 5px solid #216ef8;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-down {
      flex-wrap: wrap; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center; } }

.logo p {
  font-size: xx-large;
  color: white;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo p {
      margin-bottom: 0; } }

.menu {
  background-color: #216ef8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .menu {
      width: 80%; } }
  .menu ul {
    display: flex;
    padding: 0 30px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .menu ul {
        display: block; } }
    .menu ul a {
      text-decoration: none;
      color: white; }
      .menu ul a li {
        list-style-type: none;
        font-size: 18px;
        padding: 10px 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .menu ul a li {
            font-size: 14px;
            padding: 10px 15px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .menu ul a li {
            width: 100%;
            padding: 10px 0;
            text-align: center; } }
    .menu ul a:hover {
      border-radius: 20px;
      color: black;
      background-color: orange;
      transition: 0.75s; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .number {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

.number p {
  font-size: 20px;
  color: orange;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .number p {
      font-size: 15px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .number p {
      font-size: 16px;
      padding-right: 10px; } }

.t-one {
  background-image: url("../images/HEAD_TGX.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .t-one {
      height: 400px; } }
  .t-one .text-slide {
    text-align: center;
    position: relative;
    top: 650px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t-one .text-slide {
        top: 200px; } }
    .t-one .text-slide h2 {
      font-size: 35px;
      color: white;
      font-weight: 700;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 0; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .t-one .text-slide h2 {
          font-size: 25px; } }
    .t-one .text-slide .text-slide-text {
      background-color: #216ef8;
      width: 150px;
      margin: auto;
      border-radius: 4px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .t-one .text-slide .text-slide-text {
          width: 100px; } }
      .t-one .text-slide .text-slide-text a {
        text-decoration: none;
        color: orange; }
        .t-one .text-slide .text-slide-text a p {
          font-size: 15px;
          padding: 10px 0;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500; }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .t-one .text-slide .text-slide-text a p {
              font-size: 13px; } }
      .t-one .text-slide .text-slide-text a:hover {
        color: #216ef8; }
    .t-one .text-slide .text-slide-text:hover {
      background-color: orange; }

.t-two {
  background-image: url("../images/silver-man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .t-two {
      height: 400px; } }
  .t-two .text-slide {
    text-align: center;
    position: relative;
    top: 650px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t-two .text-slide {
        top: 200px; } }
    .t-two .text-slide h2 {
      font-size: 35px;
      color: white;
      font-weight: 700;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 0; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .t-two .text-slide h2 {
          font-size: 25px; } }
    .t-two .text-slide .text-slide-text {
      background-color: #216ef8;
      width: 150px;
      margin: auto;
      border-radius: 4px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .t-two .text-slide .text-slide-text {
          width: 100px; } }
      .t-two .text-slide .text-slide-text a {
        text-decoration: none;
        color: orange; }
        .t-two .text-slide .text-slide-text a p {
          font-size: 15px;
          padding: 10px 0;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500; }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .t-two .text-slide .text-slide-text a p {
              font-size: 13px; } }
      .t-two .text-slide .text-slide-text a:hover {
        color: #216ef8; }
    .t-two .text-slide .text-slide-text:hover {
      background-color: orange; }

.t-three {
  background-image: url("../images/man-kiper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .t-three {
      height: 400px; } }
  .t-three .text-slide {
    text-align: center;
    position: relative;
    top: 650px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t-three .text-slide {
        top: 200px; } }
    .t-three .text-slide h2 {
      font-size: 35px;
      color: white;
      font-weight: 700;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 0; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .t-three .text-slide h2 {
          font-size: 25px; } }
    .t-three .text-slide .text-slide-text {
      background-color: #216ef8;
      width: 150px;
      margin: auto;
      border-radius: 4px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .t-three .text-slide .text-slide-text {
          width: 100px; } }
      .t-three .text-slide .text-slide-text a {
        text-decoration: none;
        color: orange; }
        .t-three .text-slide .text-slide-text a p {
          font-size: 15px;
          padding: 10px 0;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500; }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .t-three .text-slide .text-slide-text a p {
              font-size: 13px; } }
      .t-three .text-slide .text-slide-text a:hover {
        color: #216ef8; }
    .t-three .text-slide .text-slide-text:hover {
      background-color: orange; }

.dot-container {
  position: relative;
  top: 750px;
  text-align: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .dot-container {
      top: 200px; } }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #216ef8; }

.aboutus {
  margin-top: 60px; }

.aboutus .container {
  width: 85%;
  margin: auto; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .aboutus .container {
      width: 99%; } }

.aboutus h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .aboutus h1 {
      font-size: 35px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .aboutus h1 {
      font-size: 28px; } }

.onis {
  display: flex;
  margin-top: 60px;
  margin-bottom: 80px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .onis {
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .onis {
      display: block; } }

.onama {
  width: 50%;
  padding-right: 40px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .onama {
      width: 100%;
      padding-right: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .onama {
      width: 100%;
      padding-right: 0; } }
  .onama h2 {
    font-size: 25px;
    color: #747373;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .onama h2 {
        text-align: center;
        font-size: 20px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .onama h2 {
        text-align: center;
        font-size: 20px; } }
  .onama p {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .onama p {
        text-align: center;
        font-size: 15px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .onama p {
        text-align: center;
        font-size: 15px;
        line-height: 22px; } }

.islika {
  width: 50%;
  text-align: center;
  border-left: 7px solid orange; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .islika {
      width: 100%;
      border-left: none; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .islika {
      width: 100%;
      border-left: none; } }
  .islika img {
    width: 65%; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .islika img {
        width: 100%; } }

.mobile-park .container {
  width: 85%;
  margin: auto; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .mobile-park .container {
      width: 99%; } }

.mobile-uniq {
  display: flex; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mobile-uniq {
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .mobile-uniq {
      display: block; } }
  .mobile-uniq .mob-img,
  .mobile-uniq .par-img {
    width: 50%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .mobile-uniq .mob-img,
      .mobile-uniq .par-img {
        width: 100%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .mobile-uniq .mob-img,
      .mobile-uniq .par-img {
        width: 100%; } }
    .mobile-uniq .mob-img img,
    .mobile-uniq .par-img img {
      height: 100%;
      width: 100%; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .mobile-uniq .mob-img img,
        .mobile-uniq .par-img img {
          height: auto; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .mobile-uniq .mob-img img,
        .mobile-uniq .par-img img {
          height: auto; } }
  .mobile-uniq .mob-tex,
  .mobile-uniq .par-tex {
    width: 50%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .mobile-uniq .mob-tex,
      .mobile-uniq .par-tex {
        width: 100%;
        text-align: center;
        margin-bottom: 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .mobile-uniq .mob-tex,
      .mobile-uniq .par-tex {
        width: 100%;
        text-align: center;
        margin-bottom: 40px; } }
    .mobile-uniq .mob-tex p,
    .mobile-uniq .par-tex p {
      font-size: 17px;
      font-weight: 400;
      color: #080808;
      line-height: 25px;
      margin: 70px 40px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .mobile-uniq .mob-tex p,
        .mobile-uniq .par-tex p {
          margin: 0 0;
          padding: 70px 20px; }
          .mobile-uniq .mob-tex p:nth-child(2),
          .mobile-uniq .par-tex p:nth-child(2) {
            padding-top: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .mobile-uniq .mob-tex p,
        .mobile-uniq .par-tex p {
          margin: 0 0;
          padding: 45px 20px;
          font-size: 14px;
          line-height: 20px; }
          .mobile-uniq .mob-tex p:nth-child(2),
          .mobile-uniq .par-tex p:nth-child(2) {
            padding-top: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mobile-uniq .par-tex {
      margin-bottom: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .mobile-uniq .par-tex {
      margin-bottom: 0; } }
  .mobile-uniq .mob-tex {
    background-color: #216ef8; }

.park-uniq {
  display: flex; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .park-uniq {
      display: block;
      margin-bottom: 40px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .park-uniq {
      display: block;
      margin-bottom: 40px; } }
  .park-uniq .mob-img,
  .park-uniq .par-img {
    width: 50%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .park-uniq .mob-img,
      .park-uniq .par-img {
        width: 100%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .park-uniq .mob-img,
      .park-uniq .par-img {
        width: 100%; } }
    .park-uniq .mob-img img,
    .park-uniq .par-img img {
      height: 100%;
      width: 100%; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .park-uniq .mob-img img,
        .park-uniq .par-img img {
          height: auto; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .park-uniq .mob-img img,
        .park-uniq .par-img img {
          height: auto; } }
  .park-uniq .mob-tex,
  .park-uniq .par-tex {
    width: 50%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .park-uniq .mob-tex,
      .park-uniq .par-tex {
        width: 100%;
        text-align: center;
        margin-bottom: 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .park-uniq .mob-tex,
      .park-uniq .par-tex {
        width: 100%;
        text-align: center;
        margin-bottom: 40px; } }
    .park-uniq .mob-tex p,
    .park-uniq .par-tex p {
      font-size: 17px;
      font-weight: 400;
      color: #080808;
      line-height: 25px;
      margin: 70px 40px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .park-uniq .mob-tex p,
        .park-uniq .par-tex p {
          margin: 0 0;
          padding: 70px 20px; }
          .park-uniq .mob-tex p:nth-child(2),
          .park-uniq .par-tex p:nth-child(2) {
            padding-top: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .park-uniq .mob-tex p,
        .park-uniq .par-tex p {
          margin: 0 0;
          padding: 45px 20px;
          font-size: 14px;
          line-height: 20px; }
          .park-uniq .mob-tex p:nth-child(2),
          .park-uniq .par-tex p:nth-child(2) {
            padding-top: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .park-uniq .par-tex {
      margin-bottom: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .park-uniq .par-tex {
      margin-bottom: 0; } }
  .park-uniq .par-tex {
    background-color: orange; }

.footer {
  background-color: #232526;
  padding-top: 20px; }

.footer .container {
  width: 85%;
  margin: auto; }

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .footer-section {
      padding-bottom: 20px; } }

.footer-section-one {
  display: block;
  width: 30%;
  text-align: left; }
  @media only screen and (max-width: 1200px) {
    .footer-section-one {
      width: 50%;
      text-align: center; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-section-one {
      width: 100%; } }
  .footer-section-one h3 {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-section-one h3 {
        font-size: 16px; } }
  .footer-section-one p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (max-width: 1200px) {
      .footer-section-one p {
        padding-top: 30px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-section-one p {
        font-size: 14px;
        line-height: 17px;
        padding-top: 0; } }
  @media only screen and (max-width: 1200px) {
    .footer-section-one {
      display: none; } }
  .footer-section-one p {
    color: orange; }

.footer-section-two {
  display: block;
  width: 30%;
  text-align: left; }
  @media only screen and (max-width: 1200px) {
    .footer-section-two {
      width: 50%;
      text-align: center; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-section-two {
      width: 100%; } }
  .footer-section-two h3 {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-section-two h3 {
        font-size: 16px; } }
  .footer-section-two p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (max-width: 1200px) {
      .footer-section-two p {
        padding-top: 30px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-section-two p {
        font-size: 14px;
        line-height: 17px;
        padding-top: 0; } }
  .footer-section-two p {
    line-height: 20px; }

.footer-section-three {
  display: block;
  width: 30%;
  text-align: left; }
  @media only screen and (max-width: 1200px) {
    .footer-section-three {
      width: 50%;
      text-align: center; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-section-three {
      width: 100%; } }
  .footer-section-three h3 {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-section-three h3 {
        font-size: 16px; } }
  .footer-section-three p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (max-width: 1200px) {
      .footer-section-three p {
        padding-top: 30px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-section-three p {
        font-size: 14px;
        line-height: 17px;
        padding-top: 0; } }

.footer-sec-menu {
  text-align: left;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 1200px) {
    .footer-sec-menu {
      display: block; } }
  .footer-sec-menu ul {
    width: 50%;
    padding-left: 0; }
    @media only screen and (max-width: 1200px) {
      .footer-sec-menu ul {
        width: 70%;
        margin: auto; } }
    .footer-sec-menu ul a {
      text-decoration: none; }
      .footer-sec-menu ul a li {
        list-style-type: none;
        font-size: 15px;
        color: white;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-bottom: 1px solid orange;
        padding: 10px 0; }
        @media only screen and (max-width: 1200px) {
          .footer-sec-menu ul a li {
            text-align: center;
            font-size: 13px;
            padding: 5px 0; } }
      .footer-sec-menu ul a li:hover {
        color: orange; }
  .footer-sec-menu .social {
    width: 50%; }
    @media only screen and (max-width: 1200px) {
      .footer-sec-menu .social {
        display: flex;
        width: 100%;
        margin: auto;
        margin-top: 50px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-sec-menu .social {
        justify-content: center; } }
    .footer-sec-menu .social a {
      display: block;
      color: white;
      text-decoration: none;
      font-size: 25px;
      width: 40px;
      height: 40px;
      background-color: #4e514e;
      line-height: 40px;
      text-align: center;
      margin: auto;
      margin-bottom: 15px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .footer-sec-menu .social a {
          font-size: 15px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          margin-right: 10px;
          margin-left: 0;
          margin-top: 0;
          margin-bottom: 0; } }
