body {
  margin: auto; }

.header-top {
  background-color: #333333; }
  .header-top .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top .container {
        width: 95%; } }

.header-top-tmp {
  display: flex; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-tmp {
      flex-wrap: wrap;
      width: 100%;
      padding-top: 7px; } }

.header-top-uniq {
  display: flex;
  align-items: center;
  margin-right: 20px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-uniq {
      display: block;
      margin-right: 0;
      width: 50%; } }
  .header-top-uniq .images {
    margin-right: 10px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-uniq .images {
        margin-right: 0;
        text-align: center; } }
  .header-top-uniq .text p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-right: 20px;
    border-right: 1px solid white; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-uniq .text p {
        font-size: 12px;
        padding-right: 0;
        margin: 7px 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-uniq .text.time p {
      padding-right: 0px;
      border-right: none;
      text-align: center; } }
  .header-top-uniq .text.mail a {
    text-decoration: none; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-uniq .text.mail a p {
        border-right: none;
        padding-right: 0;
        text-align: center; } }
    .header-top-uniq .text.mail a p:hover {
      color: #216ef8; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-uniq .text.phone p {
      padding-left: 7px;
      border-right: 1px solid white; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header-top-uniq.phone {
    display: none; } }

.header-top-uniq.phone .text.phone p {
  border-right: none; }

.header-top-quote {
  background-color: #216ef8;
  transition: 0.6s ease; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-quote {
      display: none; } }
  .header-top-quote a {
    text-decoration: none;
    color: white; }
    .header-top-quote a p {
      font-size: 15px;
      font-weight: 400;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 15px 8px;
      text-align: center; }
  .header-top-quote a:hover {
    color: #216ef8; }

.header-top-quote:hover {
  background-color: orange; }

.header-midle {
  background-color: #e9e9e9; }
  .header-midle .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-midle .container {
        width: 95%; } }

.header-midle-logo {
  display: flex; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-midle-logo .logo-name {
      text-align: center; } }
  .header-midle-logo .logo-name h3 {
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-midle-logo .logo-name h3 {
        font-size: 23px;
        margin: 0; } }

.header-midle-contact {
  display: flex;
  align-items: center; }
  .header-midle-contact .quote {
    display: flex;
    align-items: center;
    margin-right: 30px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-midle-contact .quote {
        margin-right: 0;
        display: block;
        margin-right: 5px; } }
    .header-midle-contact .quote .quote-img {
      margin-right: 15px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .header-midle-contact .quote .quote-img {
          margin-right: 0px;
          text-align: center; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .header-midle-contact .quote .quote-img img {
          width: 24px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-midle-contact .quote .quote-text {
        text-align: center; } }
    .header-midle-contact .quote .quote-text p {
      font-size: 14px;
      font-weight: 400;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333333;
      margin: 0 0; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .header-midle-contact .quote .quote-text p {
          font-size: 12px;
          margin: 5px 0; } }
  .header-midle-contact .number {
    padding-left: 30px;
    border-left: 1px solid black; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-midle-contact .number {
        padding-left: 0;
        border-left: none; } }
    .header-midle-contact .number p {
      font-size: 20px;
      font-weight: 500;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #283a59; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .header-midle-contact .number p {
          font-size: 14px;
          text-align: center;
          margin: 5px 0; } }

.header-bottom {
  background-color: #216ef8; }
  .header-bottom .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-bottom .container {
        width: 95%;
        display: flex;
        flex-wrap: wrap; } }

.header-bottom-menu {
  padding-left: 100px; }
  @media only screen and (max-width: 1200px) {
    .header-bottom-menu {
      padding-left: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-bottom-menu {
      width: 100%; } }
  .header-bottom-menu ul {
    display: flex;
    padding: 0; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-bottom-menu ul {
        margin-bottom: 0; } }
    .header-bottom-menu ul a {
      text-decoration: none;
      color: white; }
      .header-bottom-menu ul a li {
        list-style-type: none;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        @media only screen and (max-width: 1200px) {
          .header-bottom-menu ul a li {
            font-size: 14px;
            padding: 10px 7px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .header-bottom-menu ul a li {
            font-size: 13px;
            padding: 10px 5px; } }
    .header-bottom-menu ul a:hover {
      color: orange; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header-bottom-adress {
    width: 100%; } }

.header-bottom-adress .adress {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-bottom-adress .adress {
      justify-content: flex-end;
      align-items: baseline; } }
  .header-bottom-adress .adress .adress-img {
    margin-right: 10px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-bottom-adress .adress .adress-img img {
        width: 14px; } }
  .header-bottom-adress .adress .adress-text p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black; }
    @media only screen and (max-width: 1200px) {
      .header-bottom-adress .adress .adress-text p {
        font-size: 15px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-bottom-adress .adress .adress-text p {
        font-size: 14px;
        margin-top: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .map map iframe {
    height: 300px; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .map map iframe {
    height: 200px; } }

.contact .container {
  width: 85%;
  margin: auto;
  display: flex; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .contact .container {
      display: block; } }

.contact-us {
  width: 50%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .contact-us {
      width: 100%; } }

.contact-field h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333; }
  @media only screen and (max-width: 1200px) {
    .contact-field h2 {
      font-size: 25px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .contact-field h2 {
      text-align: center;
      font-size: 20; } }

.contact-field .bor {
  border-bottom: 2px solid #333333;
  width: 150px; }
  @media only screen and (max-width: 1200px) {
    .contact-field .bor {
      width: 100px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .contact-field .bor {
      margin: auto; } }

.request {
  margin: 50px 0; }
  .request form {
    width: 95%;
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .request form {
        margin: auto; } }
    .request form input {
      width: 48%;
      margin-bottom: 20px;
      padding: 15px 10px; }
    .request form #name,
    .request form #phone {
      margin-right: 4%; }
    .request form textarea {
      height: 150;
      width: 100%;
      padding: 20 10; }
    .request form #send {
      margin-top: 20;
      width: 25%;
      background: #216ef8;
      cursor: pointer; }

.contact-information {
  width: 50%;
  margin-top: 140px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .contact-information {
      width: 100%;
      margin-top: 20px; } }

.con-us {
  width: 80%;
  margin: auto;
  background-color: #216ef8; }
  .con-us h3 {
    font-size: 21px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0;
    padding-left: 15px;
    color: white;
    margin: 0; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .con-us h3 {
        text-align: center;
        font-size: 16px; } }

.cont-info {
  width: 80%;
  margin: auto;
  border-left: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 20px 0; }
  .cont-info p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 7px 10px; }
    @media only screen and (max-width: 1200px) {
      .cont-info p {
        padding: 7px 5px;
        font-size: 13px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .cont-info p {
        padding-left: 14px; } }
    .cont-info p i {
      margin-right: 15px; }

.footer-top {
  background-color: #333333;
  margin-top: 30px;
  padding-top: 30px; }
  .footer-top .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 1200px) {
      .footer-top .container {
        flex-wrap: wrap; } }

.footer-left,
.footer-midle,
.footer-right {
  width: 30%; }
  @media only screen and (max-width: 1200px) {
    .footer-left,
    .footer-midle,
    .footer-right {
      width: 100%; } }
  .footer-left .footer-header-name h3,
  .footer-midle .footer-header-name h3,
  .footer-right .footer-header-name h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (max-width: 1200px) {
      .footer-left .footer-header-name h3,
      .footer-midle .footer-header-name h3,
      .footer-right .footer-header-name h3 {
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-left .footer-header-name h3,
      .footer-midle .footer-header-name h3,
      .footer-right .footer-header-name h3 {
        font-size: 16px; } }
  .footer-left .footer-header-name .bor-bott,
  .footer-midle .footer-header-name .bor-bott,
  .footer-right .footer-header-name .bor-bott {
    margin-bottom: 30px;
    border-bottom: 2.5px solid orange;
    width: 50px; }
    @media only screen and (max-width: 1200px) {
      .footer-left .footer-header-name .bor-bott,
      .footer-midle .footer-header-name .bor-bott,
      .footer-right .footer-header-name .bor-bott {
        margin: auto; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-left .footer-header-name .bor-bott,
      .footer-midle .footer-header-name .bor-bott,
      .footer-right .footer-header-name .bor-bott {
        border-width: thin; } }

.footer-left .footer-text p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; }
  @media only screen and (max-width: 1200px) {
    .footer-left .footer-text p {
      text-align: center;
      padding: 0 70px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-left .footer-text p {
      padding: 0 20px;
      font-size: 13px; } }

@media only screen and (max-width: 1200px) {
  .footer-midle .footer-menu {
    width: 50%;
    margin: auto; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer-midle .footer-menu {
    width: 100%; } }

.footer-midle .footer-menu ul {
  padding: 0; }
  .footer-midle .footer-menu ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 10px 0;
    color: white;
    border-bottom: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer; }
    @media only screen and (max-width: 1200px) {
      .footer-midle .footer-menu ul li {
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-midle .footer-menu ul li {
        font-size: 13px; } }
  .footer-midle .footer-menu ul li:hover {
    color: orange; }

.footer-contact {
  margin-top: 15px; }
  .footer-contact .contactdetail p {
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (max-width: 1200px) {
      .footer-contact .contactdetail p {
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-contact .contactdetail p {
        font-size: 13px; } }
    .footer-contact .contactdetail p i {
      margin-right: 20px; }

.footer-bottom {
  padding-top: 20px;
  background-color: #333333; }
  .footer-bottom .container {
    border-top: 1px solid white;
    padding: 20px 0;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-bottom .container {
        display: block;
        padding: 0;
        width: 95%; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .copyright {
    text-align: center; } }

.copyright p {
  font-size: 14px;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .copyright p {
      font-size: 13px; } }
  .copyright p a {
    list-style-type: none;
    color: #216ef8; }
  .copyright p a:hover {
    color: orange; }

.footer-menu-social {
  padding-right: 70px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-menu-social {
      padding-right: 0;
      text-align: center;
      padding-bottom: 15px; } }
  .footer-menu-social a {
    width: 30px;
    height: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    margin: 0 10px;
    text-decoration: none; }
    @media only screen and (max-width: 1200px) {
      .footer-menu-social a {
        margin: 0; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-menu-social a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-width: thin; } }
