body {
  margin: auto; }

.container {
  width: 80%;
  margin: auto; }

.header-top {
  background-color: #fff;
  border-top: 2px solid #216ef8;
  border-bottom: 2px solid #333333; }

.header-top-up {
  width: 75%;
  margin-left: auto;
  background-color: #216ef8;
  display: flex;
  justify-content: space-between; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-up {
      width: 100%;
      margin: auto; } }

.slope-one {
  border-left: 35px outset white;
  border-top: 54px solid #216ef8; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .slope-one {
      display: none; } }

.header-top-first {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-first {
      padding-left: 5%; } }
  .header-top-first p.time {
    font-size: inherit;
    padding-left: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-first p.time {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-first p.time {
        font-size: 12px;
        padding-left: 5px; } }
  .header-top-first img {
    width: 32px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-first img {
        width: 25px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-first img {
        width: 20px; } }

.header-top-secnd {
  display: flex;
  align-items: center;
  padding-right: 15%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-secnd {
      padding-right: 5%; } }
  .header-top-secnd a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: 20px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-secnd a {
        font-size: 15px;
        margin-right: 10px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-secnd a {
        font-size: 15px;
        margin-right: 10px; }
        .header-top-secnd a:nth-child(5) {
          margin-right: 0; } }

.header-top-middle {
  display: flex; }
  .header-top-middle .container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-middle .container {
        width: 90%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-middle .container {
        width: 90%; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header-name {
    width: 100%; } }

.header-name h3 {
  font-size: xx-large;
  font-family: sans-serif;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-name h3 {
      font-size: 25px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-name h3 {
      font-size: 17px; } }

.header-name p {
  margin-top: 0;
  font-family: cursive;
  font-size: inherit; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-name p {
      font-size: 13px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-name p {
      font-size: 13px; } }

.header-contact {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-contact {
      display: block;
      width: 65%;
      justify-content: space-between; } }

.header-call {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-call {
      display: none;
      justify-content: space-between; } }

.header-call img {
  width: 32px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-call img {
      width: 25px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-call img {
      width: 20px; } }

.header-call-us {
  margin-left: 10px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-call-us {
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      width: 70%; } }
  .header-call-us p.call {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-call-us p.call {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-call-us p.call {
        font-size: 12px;
        margin-top: 0; } }
  .header-call-us p.number {
    color: darkolivegreen;
    margin-top: 5px;
    font-size: 15px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-call-us p.number {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-call-us p.number {
        font-size: 12px; } }

.header-mail {
  display: flex;
  align-items: center;
  margin-left: 30px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-mail {
      display: none;
      justify-content: space-between;
      margin-left: 0; } }

.header-mail img {
  width: 32; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-mail img {
      width: 25px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-mail img {
      width: 20px; } }

.header-send-us-mail {
  margin-left: 10; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-send-us-mail {
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      width: 70%; } }
  .header-send-us-mail p.send {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-send-us-mail p.send {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-send-us-mail p.send {
        font-size: 12px;
        margin-top: 0; } }
  .header-send-us-mail p.mail {
    color: darkolivegreen;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-send-us-mail p.mail {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-send-us-mail p.mail {
        font-size: 12px; } }

.enquiry {
  margin-left: 30px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .enquiry {
      display: none; } }
  .enquiry p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    background-color: orange;
    padding: 20px 40px;
    border-radius: 5px;
    color: white; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .enquiry p {
        padding: 10px 15px;
        font-size: 11px; } }
    .enquiry p a {
      text-decoration: none;
      color: white; }

.header-top-downe {
  position: relative;
  display: flex;
  width: 75%;
  margin-left: auto;
  background-color: #283a59; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-downe {
      width: 100%; } }

.slope-two {
  border-right: 45px outset transparent;
  border-top: 90px solid white; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .slope-two {
      display: none; } }

.header-top-downe ul {
  display: flex; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-downe ul {
      margin: auto;
      padding: 0; } }
  .header-top-downe ul li {
    list-style-type: none;
    padding: 15px 30px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-downe ul li {
        padding: 10px 20px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-downe ul li {
        padding: 10px 9px; } }
    .header-top-downe ul li a {
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.slider_wrap {
  position: relative; }

.banner_slider {
  height: 1100px; }
  @media only screen and (max-width: 1200px) {
    .banner_slider {
      height: 800px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .banner_slider {
      height: 400px; } }

.thumbnail_slider_area {
  position: absolute;
  left: 0;
  bottom: -172px;
  width: 100%;
  z-index: 1;
  background: black;
  padding: 20px 0; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .thumbnail_slider_area {
      display: none; } }
  .thumbnail_slider_area .container {
    width: 91%; }

.row {
  display: flex; }

.col {
  padding: 10px;
  margin: auto; }

.col img {
  width: 250px;
  height: 210px;
  border: 1px solid black; }
  @media only screen and (max-width: 1200px) {
    .col img {
      width: 150px;
      height: 100px; } }

.section.two {
  background-image: url("../images/volvo-fh16-540_12.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  top: 156px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .section.two {
      height: auto;
      top: 0; } }

.hi-slide {
  position: relative;
  width: 755px;
  height: 300px;
  margin: auto;
  top: 120px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hi-slide {
      display: none; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .hi-slide {
      display: none; } }

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: black;
  transition: all 0.7s;
  font-size: 20px;
  font-weight: bold; }

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
  opacity: 1; }

.hi-slide .hi-prev {
  left: -80px; }

.hi-slide .hi-prev::before {
  content: '<'; }

.hi-slide .hi-next {
  right: -80px; }

.hi-slide .hi-next::before {
  content: '>'; }

.hi-slide > ul {
  list-style: none;
  position: relative;
  width: 755px;
  height: 300px;
  padding: 0; }

.hi-slide > ul > li {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  left: 377px;
  top: 147px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 3px solid white;
  cursor: pointer;
  background-color: #333; }

.hi-slide > ul > li > img {
  width: 100%;
  height: 100%;
  background-position: center; }

.gallery {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: calc(100% - 50px);
      margin: auto;
      padding-top: 90px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 99%;
      margin: auto;
      padding-top: 90px; } }
  .gallery a {
    display: block;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    width: 24%;
    height: 178px;
    margin-bottom: 10px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .gallery a {
        width: 100%;
        height: 260px; } }
    .gallery a img {
      width: 100%;
      height: 100%;
      transform: scale(1, 1);
      transition: all 300ms ease; }
    .gallery a img:hover {
      transform: scale(1.1, 1.1); }

.section.three {
  position: relative;
  top: 156px;
  padding-top: 50px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .section.three {
      top: 0; } }

.container {
  width: 80%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .container {
      width: 99%; } }

.heading-foto {
  text-align: center;
  margin-bottom: 90px; }
  @media only screen and (max-width: 1200px) {
    .heading-foto {
      margin-bottom: 40px; } }
  .heading-foto h2 {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 700; }
    @media only screen and (max-width: 1200px) {
      .heading-foto h2 {
        font-size: 28px; } }
  .heading-foto p {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 400; }
    @media only screen and (max-width: 1200px) {
      .heading-foto p {
        font-size: 17px; } }

.foto-album-foto {
  display: flex;
  position: relative;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .foto-album-foto {
      flex-wrap: wrap; } }

.foto-album {
  position: relative;
  overflow: hidden;
  width: 22%;
  box-shadow: 5px 5px 15px black;
  border-radius: 150px 20px 30px 23px;
  cursor: pointer; }
  @media only screen and (max-width: 1200px) {
    .foto-album {
      width: 45%;
      margin-bottom: 50px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .foto-album {
      width: 100%; } }

.single-album {
  position: relative;
  overflow: hidden; }

.single-album img {
  width: 100%;
  height: 300px;
  transition: .4s; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .single-album img {
      height: auto; } }

.foto-album:hover .single-album img {
  transform: scale(1.5, 1.5); }

.album-content {
  height: 60px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: all .4s;
  background: #216ef8;
  opacity: 0.85; }

.foto-album:hover .album-content {
  height: 130px;
  background: #000; }

.album-info {
  transition: all .5s; }

.album-info h3 {
  font-size: 16px;
  color: white;
  margin: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase; }

.album-info p {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px; }

.album-text {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 20px;
  font-size: 15px; }

.section-four {
  position: relative;
  top: 200px;
  width: 80%;
  margin: auto;
  text-align-last: justify; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .section-four {
      top: 0;
      display: flex;
      flex-wrap: wrap; } }

video {
  margin-right: 10px;
  width: 300px;
  height: 250px; }
  @media only screen and (max-width: 1200px) {
    video {
      width: 180;
      height: 100px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    video {
      width: 51%;
      margin: auto;
      height: 150px;
      margin-bottom: 40px; } }

.footer-top {
  background-color: #333333;
  margin-top: 250px;
  padding-top: 30px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-top {
      margin-top: 0; } }
  .footer-top .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.footer-left,
.footer-midle,
.footer-right {
  width: 30%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-left,
    .footer-midle,
    .footer-right {
      width: 100%;
      text-align: center; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-left,
    .footer-midle,
    .footer-right {
      width: 100%;
      text-align: center; } }
  .footer-left .footer-header-name h3,
  .footer-midle .footer-header-name h3,
  .footer-right .footer-header-name h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
  .footer-left .footer-header-name .bor-bott,
  .footer-midle .footer-header-name .bor-bott,
  .footer-right .footer-header-name .bor-bott {
    margin-bottom: 30px;
    border-bottom: 2.5px solid orange;
    width: 50px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .footer-left .footer-header-name .bor-bott,
      .footer-midle .footer-header-name .bor-bott,
      .footer-right .footer-header-name .bor-bott {
        margin: auto; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-left .footer-header-name .bor-bott,
      .footer-midle .footer-header-name .bor-bott,
      .footer-right .footer-header-name .bor-bott {
        margin: auto; } }

.footer-left .footer-text p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-midle .footer-menu {
    width: 50%;
    margin: auto; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer-midle .footer-menu {
    width: 100%;
    margin: auto; } }

.footer-midle .footer-menu ul {
  padding: 0; }
  .footer-midle .footer-menu ul li {
    list-style-type: none;
    font-size: 16px;
    color: white;
    padding: 10px 0;
    border-bottom: 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer; }
  .footer-midle .footer-menu ul li:hover {
    color: orange; }

.footer-contact {
  margin-top: 15; }
  .footer-contact .contactdetail p {
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .footer-contact .contactdetail p i {
      margin-right: 20px; }

.footer-bottom {
  padding-top: 20px;
  background-color: #333333; }
  .footer-bottom .container {
    border-top: 1px solid white;
    padding: 20px 0;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-bottom .container {
        width: 95%; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .copyright {
    width: 100%;
    text-align: center; } }

.copyright p {
  font-size: 14px;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; }
  .copyright p a {
    color: #216ef8; }
  .copyright p a:hover {
    color: orange; }

.footer-menu-social {
  padding-right: 30px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-menu-social {
      padding-right: 0;
      width: 100%;
      text-align: center; } }
  .footer-menu-social a {
    width: 30px;
    height: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    margin: 0 10px;
    text-decoration: none; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-menu-social a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin: 0 7px; } }
