body {
  margin: auto; }

.heading-top {
  display: flex;
  background-color: #333333;
  align-items: center; }
  .heading-top .container {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .heading-top .container {
        width: 95%; } }
    @media only screen and (max-width: 1200px) {
      .heading-top .container .mobile-ht,
      .heading-top .container .mail-ht,
      .heading-top .container .adress-ht,
      .heading-top .container .social {
        width: 50%;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .heading-top .container .mobile-ht,
      .heading-top .container .mail-ht,
      .heading-top .container .adress-ht,
      .heading-top .container .social {
        width: 100%; } }
    .heading-top .container .mobile-ht p,
    .heading-top .container .mail-ht p,
    .heading-top .container .adress-ht p,
    .heading-top .container .social p {
      font-size: 14px;
      font-weight: 400;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .heading-top .container .mobile-ht p,
        .heading-top .container .mail-ht p,
        .heading-top .container .adress-ht p,
        .heading-top .container .social p {
          font-size: 12px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .heading-top .container .mobile-ht p,
        .heading-top .container .mail-ht p,
        .heading-top .container .adress-ht p,
        .heading-top .container .social p {
          font-size: 13px;
          margin: 5px 0; } }
      .heading-top .container .mobile-ht p i,
      .heading-top .container .mail-ht p i,
      .heading-top .container .adress-ht p i,
      .heading-top .container .social p i {
        color: orange;
        margin-right: 15px; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .heading-top .container .mobile-ht p i,
          .heading-top .container .mail-ht p i,
          .heading-top .container .adress-ht p i,
          .heading-top .container .social p i {
            margin-right: 5px; } }

.social {
  line-height: 46px; }
  .social a {
    color: white; }
    .social a i {
      font-size: 17px;
      margin-right: 15px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .social a i {
          font-size: 13px;
          margin-right: 15px; } }
  .social a:hover {
    color: orange; }

.heading-down {
  background-color: #216ef8; }
  .heading-down .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.logo {
  display: flex; }
  .logo p.firm {
    font-size: xx-large;
    font-weight: 600;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .logo p.trans {
    font-size: xx-large;
    font-weight: 600;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .menu nav.active {
    left: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu nav {
    position: relative;
    left: 0;
    background-color: transparent;
    top: 0; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .menu nav {
    position: absolute;
    width: 100%;
    left: -100%;
    background-color: #216ef8;
    top: 113px;
    transition: 0.5s; } }

.menu nav ul {
  display: flex;
  padding-left: 0; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .menu nav ul {
      display: block;
      margin: 0; } }
  .menu nav ul a {
    text-decoration: none;
    color: white; }
    .menu nav ul a li {
      list-style-type: none;
      padding: 10px 25px;
      font-size: 18px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 400; }
      @media only screen and (max-width: 1200px) {
        .menu nav ul a li {
          font-size: 16px;
          padding: 10px 10px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .menu nav ul a li {
          font-size: 13px;
          padding: 10px 10px;
          border-bottom: none; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .menu nav ul a li {
          display: block;
          text-align: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          font-size: 14px; } }
  .menu nav ul a:hover {
    color: #216ef8;
    transition: 0.35s; }
    .menu nav ul a:hover li:hover {
      background-color: orange; }

.menu-toggle {
  color: black;
  font-size: 24px;
  cursor: pointer;
  display: none; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .menu-toggle {
      display: block; } }

.qoute {
  background-color: orange;
  padding: 0 20px;
  border-radius: 25px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .qoute {
      padding: 0 9px;
      border-radius: 15px;
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .qoute {
      display: none; } }
  .qoute a {
    text-decoration: none; }
    .qoute a p {
      font-size: 15px;
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .qoute a p {
          font-size: 13px;
          font-weight: 600; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .qoute a p {
          font-size: 14px;
          font-weight: 300; } }

.s-one {
  background-image: url("../images/dupla-cisterna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .s-one {
      height: 500px; } }

.s-two {
  background-image: url("../images/mercedes-benz_axor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .s-two {
      height: 500px; } }

.s-three {
  background-image: url("../images/volvo-fh16-540_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .s-three {
      height: 500px; } }

.slide-text {
  position: relative;
  top: 550px;
  text-align: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .slide-text {
      top: 200px; } }
  .slide-text h3 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (max-width: 1200px) {
      .slide-text h3 {
        font-size: 20px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .slide-text h3 {
        font-size: 15px; } }
  .slide-text h1 {
    font-size: 55px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (max-width: 1200px) {
      .slide-text h1 {
        font-size: 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .slide-text h1 {
        font-size: 25px; } }

.dot-container {
  position: relative;
  top: 600px;
  text-align: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .dot-container {
      top: 200px; } }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #216ef8; }

.slider-below-image {
  position: relative;
  top: -90px;
  text-align: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .slider-below-image img {
      width: 80%;
      height: 50%; } }

.service-one .container {
  width: 85%;
  margin: auto;
  display: flex;
  margin-bottom: 50px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .service-one .container {
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-one .container {
      display: block;
      width: 99%; } }

.service-one-images {
  width: 50%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .service-one-images {
      width: 80%;
      margin: auto; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-one-images {
      width: 100%;
      margin: auto; } }
  .service-one-images img {
    width: 100%;
    height: 100%; }

.service-one-text {
  width: 50%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .service-one-text {
      width: 80%;
      margin: auto; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-one-text {
      width: 90%;
      margin: auto; } }
  .service-one-text h2 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .service-one-text h2 {
        font-size: 20px;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-one-text h2 {
        font-size: 16px;
        text-align: center; } }
  .service-one-text h2.fwf {
    font-weight: 600;
    font-size: 37px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .service-one-text h2.fwf {
        font-size: 30px;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-one-text h2.fwf {
        font-size: 22px;
        text-align: center; } }
  .service-one-text p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .service-one-text p {
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-one-text p {
        text-align: center;
        font-size: 14px; } }

.service-three .container {
  display: flex; }
  @media only screen and (max-width: 1200px) {
    .service-three .container {
      display: block;
      width: 80%;
      margin: auto; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-three .container {
      width: 99%; } }

.image-three {
  width: 45%; }
  @media only screen and (max-width: 1200px) {
    .image-three {
      width: 100%; } }
  .image-three img {
    width: 100%;
    height: 100%; }

.service-why {
  margin: 50px 0;
  padding-right: 80px;
  padding-left: 50px;
  width: 55%;
  background-color: #f6f6f6; }
  @media only screen and (max-width: 1200px) {
    .service-why {
      width: 100%;
      margin: auto;
      padding-bottom: 50px;
      padding-right: 0;
      padding-left: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-why {
      padding-bottom: 15px; } }
  @media only screen and (max-width: 1200px) {
    .service-why .serv-text {
      margin-top: 50px; } }
  .service-why .serv-text h2 {
    margin-top: 80px;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black; }
    @media only screen and (max-width: 1200px) {
      .service-why .serv-text h2 {
        padding-top: 30px;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-why .serv-text h2 {
        font-size: 27px; } }
  .service-why .serv-text p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 60px; }
    @media only screen and (max-width: 1200px) {
      .service-why .serv-text p {
        padding: 0 40px;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-why .serv-text p {
        font-size: 15px;
        line-height: 22px; } }
  .service-why .why {
    display: flex;
    margin-bottom: 50px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-why .why {
        flex-wrap: wrap; } }
    .service-why .why .why-univerzal-one {
      display: flex;
      margin-left: 40px;
      width: 50%; }
      @media only screen and (max-width: 1200px) {
        .service-why .why .why-univerzal-one {
          display: block;
          margin-left: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .service-why .why .why-univerzal-one {
          width: 100%; } }
      .service-why .why .why-univerzal-one .why-image {
        margin-right: 20px; }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-one .why-image {
            margin-right: 0;
            text-align: center; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .service-why .why .why-univerzal-one .why-image {
            margin-bottom: 20px; } }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-one .why-image img {
            height: 64px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .service-why .why .why-univerzal-one .why-text {
          margin-bottom: 20px; } }
      .service-why .why .why-univerzal-one .why-text h4 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black; }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-one .why-text h4 {
            text-align: center; } }
      .service-why .why .why-univerzal-one .why-text p {
        font-size: 17px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0; }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-one .why-text p {
            padding: 0 20px;
            text-align: center; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .service-why .why .why-univerzal-one .why-text p {
            padding: 0 40px;
            font-size: 15px; } }
    .service-why .why .why-univerzal-two {
      display: flex;
      margin-left: 40px;
      width: 50%; }
      @media only screen and (max-width: 1200px) {
        .service-why .why .why-univerzal-two {
          display: block;
          margin-left: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .service-why .why .why-univerzal-two {
          width: 100%; } }
      .service-why .why .why-univerzal-two .why-image {
        margin-right: 20px; }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-two .why-image {
            margin-right: 0;
            text-align: center; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .service-why .why .why-univerzal-two .why-image {
            margin-bottom: 20px; } }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-two .why-image img {
            height: 64px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .service-why .why .why-univerzal-two .why-text {
          margin-bottom: 20px; } }
      .service-why .why .why-univerzal-two .why-text h4 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black; }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-two .why-text h4 {
            text-align: center; } }
      .service-why .why .why-univerzal-two .why-text p {
        font-size: 17px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0; }
        @media only screen and (max-width: 1200px) {
          .service-why .why .why-univerzal-two .why-text p {
            padding: 0 20px;
            text-align: center; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .service-why .why .why-univerzal-two .why-text p {
            padding: 0 40px;
            font-size: 15px; } }

.service-uniq .container {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  padding: 55px 0; }
  @media only screen and (max-width: 1200px) {
    .service-uniq .container {
      display: block;
      width: 99%; } }

.service-uniq-text {
  width: 47%; }
  @media only screen and (max-width: 1200px) {
    .service-uniq-text {
      width: 100%; } }
  .service-uniq-text h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-uniq-text h3 {
        font-size: 20px;
        text-align: center; } }
  .service-uniq-text h2 {
    font-size: 45px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 0; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-uniq-text h2 {
        font-size: 28px;
        text-align: center; } }
  .service-uniq-text p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-uniq-text p {
        font-size: 15px;
        line-height: 20px;
        text-align: center; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-uniq-text .chack p.list {
      font-size: 13px;
      text-align: left; } }
  .service-uniq-text .chack p.list i {
    margin-right: 10px;
    color: #216ef8; }

.service-uniq-img-text {
  width: 47%; }
  @media only screen and (max-width: 1200px) {
    .service-uniq-img-text {
      width: 100%; } }
  .service-uniq-img-text .two-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .service-uniq-img-text .two-img .image-one-text {
      width: 48%; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .service-uniq-img-text .two-img .image-one-text {
          width: 100%;
          margin: auto; } }
      .service-uniq-img-text .two-img .image-one-text .foto img {
        width: 100%; }
      .service-uniq-img-text .two-img .image-one-text p.bold {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .service-uniq-img-text .two-img .image-one-text p.bold {
            font-size: 20px;
            text-align: center; } }
      .service-uniq-img-text .two-img .image-one-text p {
        font-size: 17px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .service-uniq-img-text .two-img .image-one-text p {
            font-size: 15px;
            text-align: center; } }

.service-four {
  background-image: url("../images/fotografija 12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-four {
      height: 650px; } }

.service-four .container {
  width: 85%;
  margin: auto; }
  .service-four .container .process {
    position: relative;
    top: 90px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .service-four .container .process {
        top: 0; } }

.our-process {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 50px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .our-process {
      width: 80%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .our-process {
      width: 80%;
      padding-top: 20px; } }
  .our-process h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .our-process h2 {
        font-size: 28px; } }
  .our-process p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .our-process p {
        font-size: 15px; } }

.process-circle {
  display: flex;
  margin: auto;
  justify-content: space-between; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .process-circle {
      flex-wrap: wrap; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .two-circle {
    width: 50%; } }

.two-circle .small-circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #216ef8;
  border-radius: 50%;
  text-align: center;
  color: white;
  position: relative;
  top: 60px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .two-circle .small-circle {
      display: none; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .two-circle .small-circle {
      display: none; } }

.two-circle .big-circle {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  margin: auto; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .two-circle .big-circle {
      width: 150px;
      height: 150px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .two-circle .big-circle {
      width: 100px;
      height: 100px; } }
  .two-circle .big-circle img {
    position: relative;
    top: 63px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .two-circle .big-circle img {
        top: 38px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .two-circle .big-circle img {
        width: 40px;
        top: 30px; } }

.two-circle .text-down h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .two-circle .text-down h4 {
      font-size: 13px; } }

.service-five {
  background-color: #f6f6f6;
  padding: 70px 0; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-five {
      padding: 35px 0; } }
  .service-five .container {
    width: 85%;
    margin: auto; }

.specialties {
  width: 57%;
  margin: auto;
  text-align: center; }
  @media only screen and (max-width: 1200px) {
    .specialties {
      width: 100%; } }
  .specialties h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .specialties h2 {
        font-size: 28px; } }
  .specialties p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .specialties p {
        font-size: 15px;
        padding-bottom: 20px; } }

.our-specialties {
  display: flex;
  margin-top: 100px;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .our-specialties {
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .our-specialties {
      margin-top: 50px; } }
  .our-specialties .our-specialties-bg {
    display: flex;
    position: relative;
    width: 31%; }
    @media only screen and (max-width: 1200px) {
      .our-specialties .our-specialties-bg {
        width: 100%;
        margin-bottom: 30px; } }
    .our-specialties .our-specialties-bg .our-specialties-bg-icon {
      opacity: 0.2;
      position: absolute;
      z-index: 1;
      left: 100; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .our-specialties .our-specialties-bg .our-specialties-bg-icon {
          display: none; } }
      .our-specialties .our-specialties-bg .our-specialties-bg-icon i {
        font-size: 150px;
        z-index: 999;
        color: black;
        background-color: white; }
      .our-specialties .our-specialties-bg .our-specialties-bg-icon i:hover {
        transition-property: transform;
        transition-duration: .6s easy;
        font-size: 230px; }
    .our-specialties .our-specialties-bg .our-specialties-bg-text {
      width: 100%;
      z-index: 999;
      position: relative;
      bottom: 30px; }
      @media only screen and (max-width: 1200px) {
        .our-specialties .our-specialties-bg .our-specialties-bg-text {
          text-align: center;
          padding: 0 100px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .our-specialties .our-specialties-bg .our-specialties-bg-text {
          padding: 0 30px; } }
      .our-specialties .our-specialties-bg .our-specialties-bg-text h3 {
        font-size: 25px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #353535; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .our-specialties .our-specialties-bg .our-specialties-bg-text h3 {
            font-size: 23px;
            margin-top: 0; } }
      .our-specialties .our-specialties-bg .our-specialties-bg-text p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #353535; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .our-specialties .our-specialties-bg .our-specialties-bg-text p {
            font-size: 14px; } }

.our-specialties-only-icon {
  display: flex;
  justify-content: space-between; }
  .our-specialties-only-icon .only-icon {
    width: 30%;
    text-align: center; }
    .our-specialties-only-icon .only-icon i {
      width: 74px;
      height: 74px;
      font-size: 30px;
      background-color: #216ef8;
      border-radius: 50%;
      text-align: center;
      line-height: 74px;
      color: white;
      position: relative;
      z-index: 999; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .our-specialties-only-icon .only-icon i {
          width: 50;
          height: 50;
          font-size: 20;
          line-height: 50px; } }

.service-six {
  display: flex;
  background-color: orange; }
  @media only screen and (max-width: 1200px) {
    .service-six {
      display: block; } }

.wallpaper {
  background-image: url("../images/fotografija 18-18.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; }
  @media only screen and (max-width: 1200px) {
    .wallpaper {
      background-image: url("../images/fotografija 188.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%; } }

.wallpaper-text {
  padding-left: 80px;
  padding-top: 110px;
  padding-bottom: 120px; }
  @media only screen and (max-width: 1200px) {
    .wallpaper-text {
      text-align: center;
      padding: 100px 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .wallpaper-text {
      padding-top: 100px;
      padding-bottom: 20px; } }
  .wallpaper-text h3 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0; }
    @media only screen and (max-width: 1200px) {
      .wallpaper-text h3 {
        font-size: 22px; } }
  .wallpaper-text h1 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0; }
    @media only screen and (max-width: 1200px) {
      .wallpaper-text h1 {
        padding-bottom: 50px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .wallpaper-text h1 {
        font-size: 40px; } }
  .wallpaper-text h2 {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (max-width: 1200px) {
      .wallpaper-text h2 {
        padding-bottom: 50px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .wallpaper-text h2 {
        font-size: 30px; } }
  .wallpaper-text p {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (max-width: 1200px) {
      .wallpaper-text p {
        padding-bottom: 50px; } }

.company {
  width: 50%; }
  @media only screen and (max-width: 1200px) {
    .company {
      width: 100%; } }
  .company .company-in {
    padding-left: 80px;
    padding-top: 120px;
    padding-right: 60px; }
    @media only screen and (max-width: 1200px) {
      .company .company-in {
        text-align: center;
        padding: 100px 0; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .company .company-in {
        padding: 50px 0; } }
    .company .company-in h2 {
      font-size: 40px;
      font-weight: 500;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      margin-top: 0; }
      @media only screen and (max-width: 1200px) {
        .company .company-in h2 {
          text-transform: uppercase; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .company .company-in h2 {
          font-size: 28px; } }
    .company .company-in p {
      font-size: 17px;
      font-weight: 500;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white; }
      @media only screen and (max-width: 1200px) {
        .company .company-in p {
          padding: 10px 100px;
          font-size: 25px;
          margin: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .company .company-in p {
          font-size: 18px;
          padding: 10px 5%; } }
      .company .company-in p i {
        color: #216ef8;
        margin-right: 25px; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .company .company-in p i {
            margin-right: 10px; } }
    @media only screen and (max-width: 1200px) {
      .company .company-in p.big {
        font-size: 30px;
        padding-bottom: 50px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .company .company-in p.big {
        font-size: 21px;
        line-height: 25px; } }

.service-seven {
  background-color: #f6f6f6;
  padding: 70px 0; }
  .service-seven .container {
    width: 85%;
    margin: auto;
    display: flex; }
    @media only screen and (max-width: 1200px) {
      .service-seven .container {
        display: block; } }

.customers {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 50px;
  width: 35%; }
  @media only screen and (max-width: 1200px) {
    .customers {
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .customers {
      width: 70%;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .customers {
      width: 70%;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 0; } }
  .customers .counter {
    display: flex;
    width: 70%;
    align-items: center;
    margin: auto;
    padding-bottom: 30px; }
    @media only screen and (max-width: 1200px) {
      .customers .counter {
        justify-content: center; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .customers .counter {
        width: 50%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .customers .counter {
        width: 50%; } }
    .customers .counter i {
      font-size: 80px;
      color: orange;
      margin-right: 30px; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .customers .counter i {
          font-size: 40px;
          margin-right: 27px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .customers .counter i {
          font-size: 30px;
          margin-right: 10px; } }
    .customers .counter .icon-text {
      width: 200px;
      text-align: center; }
      .customers .counter .icon-text p.custom {
        font-size: 50px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0; }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .customers .counter .icon-text p.custom {
            font-size: 30px; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .customers .counter .icon-text p.custom {
            font-size: 20px; } }
      .customers .counter .icon-text p.ers {
        font-size: 17px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 0; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .customers .counter .icon-text p.ers {
            font-size: 14px; } }

.planing {
  margin-left: 80px;
  width: 65%; }
  @media only screen and (max-width: 1200px) {
    .planing {
      width: 100%;
      margin-left: 0; } }
  @media only screen and (max-width: 1200px) {
    .planing .plan-heading {
      text-align: center; } }
  .planing .plan-heading h2 {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .planing .plan-heading h2 {
        font-size: 28px;
        line-height: 30px; } }
  @media only screen and (max-width: 1200px) {
    .planing .plan-text {
      text-align: center; } }
  .planing .plan-text p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .planing .plan-text p {
        font-size: 15px;
        line-height: 18px; } }

.service-eight {
  background-image: url("../images/volvo-fh16-540_12.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin: 0 60px; }
  @media only screen and (max-width: 1200px) {
    .service-eight {
      height: auto;
      padding-bottom: 50px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-eight {
      margin: auto;
      padding-bottom: 25px; } }

.service-eight .container {
  width: 85%;
  margin: auto; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service-eight .container {
      width: 99%; } }

.latest {
  position: relative;
  top: 110px; }
  @media only screen and (max-width: 1200px) {
    .latest {
      top: 0; } }
  .latest .heading {
    text-align: center;
    margin-bottom: 100px; }
    @media only screen and (max-width: 1200px) {
      .latest .heading {
        margin-bottom: 50px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .latest .heading {
        margin-bottom: 27px; } }
    .latest .heading h2 {
      font-size: 35px;
      margin: 0;
      font-weight: 500;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white; }
      @media only screen and (max-width: 1200px) {
        .latest .heading h2 {
          padding-top: 60px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .latest .heading h2 {
          font-size: 28px;
          padding-top: 30px; } }
  .latest .image-box {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 1200px) {
      .latest .image-box {
        display: block; } }
    .latest .image-box .picture {
      width: 30%; }
      @media only screen and (max-width: 1200px) {
        .latest .image-box .picture {
          display: flex;
          width: 100%;
          margin-bottom: 20px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .latest .image-box .picture {
          display: block;
          text-align: center; } }
      .latest .image-box .picture img {
        width: 100%; }
        @media only screen and (max-width: 1200px) {
          .latest .image-box .picture img {
            height: 150px;
            width: auto; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .latest .image-box .picture img {
            height: auto;
            width: 100%; } }
      .latest .image-box .picture .picture-date {
        background-color: #216ef8;
        position: relative;
        bottom: 68px;
        margin-left: 70%;
        padding: 15px 0;
        width: 80px;
        text-align: center; }
        @media only screen and (max-width: 1200px) {
          .latest .image-box .picture .picture-date {
            display: none; } }
        .latest .image-box .picture .picture-date p.pdn {
          font-size: 16px;
          font-weight: 300;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: white;
          margin: 0; }
        .latest .image-box .picture .picture-date p.pd {
          font-size: 20px;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: white;
          margin: 0; }
      .latest .image-box .picture .picture-text {
        position: relative;
        top: -40px; }
        @media only screen and (max-width: 1200px) {
          .latest .image-box .picture .picture-text {
            margin-left: 0;
            top: 0; } }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .latest .image-box .picture .picture-text {
            margin-top: 15px; } }
        .latest .image-box .picture .picture-text h4 {
          font-size: 22px;
          line-height: 32px;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
          @media only screen and (max-width: 1200px) {
            .latest .image-box .picture .picture-text h4 {
              margin: 0;
              line-height: 20px;
              padding: 0 40px; } }
        .latest .image-box .picture .picture-text p.p-t {
          font-size: 17px;
          font-weight: 300;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          line-height: 25px; }
          @media only screen and (max-width: 1200px) {
            .latest .image-box .picture .picture-text p.p-t {
              line-height: 17px;
              padding: 0 40px; } }
          @media only screen and (min-width: 120px) and (max-width: 767px) {
            .latest .image-box .picture .picture-text p.p-t {
              font-size: 15px; } }

.footer {
  position: relative;
  top: 400px; }
  @media only screen and (max-width: 1200px) {
    .footer {
      top: 0; } }

.footer-top {
  background-color: #333333; }
  @media only screen and (max-width: 1200px) {
    .footer-top {
      padding-top: 10; } }
  .footer-top .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-top .container {
        flex-wrap: wrap; } }

.footer-contact {
  display: flex;
  margin: 35px 0; }
  @media only screen and (max-width: 1200px) {
    .footer-contact {
      display: block;
      width: 33%;
      margin: auto; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer-contact {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }
  .footer-contact i {
    font-size: 40px;
    background-color: #216ef8;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-right: 40px;
    color: white; }
    @media only screen and (max-width: 1200px) {
      .footer-contact i {
        margin: auto;
        width: 60px;
        height: 60px;
        font-size: 25px;
        line-height: 60px;
        position: relative;
        left: 40%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-contact i {
        display: none; } }
  .footer-contact .footer-contact-text {
    line-height: 40px; }
    @media only screen and (max-width: 1200px) {
      .footer-contact .footer-contact-text {
        text-align: center; } }
    .footer-contact .footer-contact-text h4 {
      font-size: 22px;
      font-weight: 700;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      margin: 0; }
    .footer-contact .footer-contact-text p {
      font-size: 18px;
      font-weight: 300;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      margin: 0; }

.footer-midle {
  background-image: url("../images/9-9-9.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 70px 0; }
  @media only screen and (max-width: 1200px) {
    .footer-midle {
      height: auto; } }
  .footer-midle .container {
    width: 85%;
    margin: auto; }

.footer-midle-heading {
  text-align: center; }
  .footer-midle-heading h3 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
  .footer-midle-heading p {
    font-size: 40px;
    font-weight: 400;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-midle-heading p {
        font-size: 25px; } }
    .footer-midle-heading p i {
      margin-right: 40px;
      color: #216ef8; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .footer-midle-heading p i {
          margin-right: 15px; } }

.info {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .info {
      flex-wrap: wrap; } }
  .info .info-info h3 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (max-width: 1200px) {
      .info .info-info h3 {
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .info .info-info h3 {
        font-size: 22px; } }

.info-info.social-social {
  width: 30%; }
  @media only screen and (max-width: 1200px) {
    .info-info.social-social {
      width: 50%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .info-info.social-social {
      width: 100%; } }
  .info-info.social-social p {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; }
    @media only screen and (max-width: 1200px) {
      .info-info.social-social p {
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .info-info.social-social p {
        font-size: 14px; } }

.info-info.menu {
  width: 20%; }
  @media only screen and (max-width: 1200px) {
    .info-info.menu {
      width: 50%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .info-info.menu {
      width: 100%; } }
  .info-info.menu .menu-menu a {
    text-decoration: none; }
    .info-info.menu .menu-menu a p {
      font-size: 22px;
      font-weight: 400;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      text-align: center; }
      .info-info.menu .menu-menu a p i {
        color: #216ef8;
        margin-right: 15px; }
      @media only screen and (max-width: 1200px) {
        .info-info.menu .menu-menu a p {
          margin: 0; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .info-info.menu .menu-menu a p {
          font-size: 20px; } }
    .info-info.menu .menu-menu a p:hover {
      color: orange; }

.info-info.adress {
  width: 30%; }
  @media only screen and (max-width: 1200px) {
    .info-info.adress {
      width: 50%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .info-info.adress {
      width: 100%; } }
  .info-info.adress .adress-adress p {
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer; }
    .info-info.adress .adress-adress p i {
      color: #216ef8;
      margin-right: 15px;
      font-size: 25px; }
    @media only screen and (max-width: 1200px) {
      .info-info.adress .adress-adress p {
        text-align: left; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .info-info.adress .adress-adress p {
        font-size: 14px;
        text-align: center; } }
  .info-info.adress .adress-adress p:hover {
    color: orange; }

.info-info.logo-footer {
  width: 20%; }
  @media only screen and (max-width: 1200px) {
    .info-info.logo-footer {
      width: 50%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .info-info.logo-footer {
      display: none; } }
  @media only screen and (max-width: 1200px) {
    .info-info.logo-footer .logo-name {
      text-align: center;
      margin-top: 70px; } }
  .info-info.logo-footer .logo-name img {
    width: 100%; }
    @media only screen and (max-width: 1200px) {
      .info-info.logo-footer .logo-name img {
        height: auto;
        width: 50%; } }

.footer-down {
  background-color: #232526;
  padding: 15px 0; }
  .footer-down .container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-down .container {
        display: block;
        width: 95%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-down .container .all-rights {
        text-align: center; } }
    .footer-down .container .all-rights p {
      font-size: 17px;
      font-weight: 400;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white; }
      @media only screen and (max-width: 1200px) {
        .footer-down .container .all-rights p {
          font-size: 15px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .footer-down .container .all-rights p {
          font-size: 14px; } }
      .footer-down .container .all-rights p a {
        text-decoration: none;
        color: white; }
      .footer-down .container .all-rights p a:hover {
        color: orange; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .footer-down .container .social-social {
        text-align: center; } }
    .footer-down .container .social-social a {
      color: white;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 2px solid white;
      border-radius: 50%;
      margin-right: 15px;
      text-align: center;
      text-decoration: none; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .footer-down .container .social-social a {
          margin-right: 7px; }
          .footer-down .container .social-social a:nth-child(5) {
            margin-right: 0; } }

@media only screen and (max-width: 1200px) {
  .updown {
    display: none; } }

.updown a {
  color: #216ef8;
  position: fixed;
  bottom: 30px;
  left: 95%; }
  .updown a i {
    font-size: 40px; }
