body {
  margin: auto; }

.container {
  width: 80%;
  margin: auto; }

.header-top {
  background-color: #fff;
  border-top: 2px solid #216ef8;
  border-bottom: 2px solid #283a59; }

.header-top-up {
  width: 75%;
  margin-left: auto;
  background-color: #216ef8;
  display: flex;
  justify-content: space-between; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-up {
      width: 100%;
      margin: auto; } }

.slope-one {
  border-left: 35px outset white;
  border-top: 54px solid #216ef8; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .slope-one {
      display: none; } }

.header-top-first {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-first {
      padding-left: 5%; } }
  .header-top-first p.time {
    font-size: inherit;
    padding-left: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-first p.time {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-first p.time {
        font-size: 12px;
        padding-left: 5px; } }
  .header-top-first img {
    width: 32px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-first img {
        width: 25px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-first img {
        width: 20px; } }

.header-top-secnd {
  display: flex;
  align-items: center;
  padding-right: 15%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-secnd {
      padding-right: 5%; } }
  .header-top-secnd a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: 20px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-secnd a {
        font-size: 15px;
        margin-right: 10px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-secnd a {
        font-size: 15px;
        margin-right: 10px; }
        .header-top-secnd a:nth-child(5) {
          margin-right: 0; } }

.header-top-middle {
  display: flex; }
  .header-top-middle .container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-middle .container {
        width: 90%; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-middle .container {
        width: 90%; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header-name {
    width: 100%; } }

.header-name h3 {
  font-size: xx-large;
  font-family: sans-serif;
  margin-bottom: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-name h3 {
      font-size: 25px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-name h3 {
      font-size: 17px; } }

.header-name p {
  margin-top: 0;
  font-family: cursive;
  font-size: inherit; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-name p {
      font-size: 13px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-name p {
      font-size: 13px; } }

.header-contact {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-contact {
      display: block;
      width: 65%;
      justify-content: space-between; } }

.header-call {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-call {
      display: none;
      justify-content: space-between; } }

.header-call img {
  width: 32px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-call img {
      width: 25px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-call img {
      width: 20px; } }

.header-call-us {
  margin-left: 10px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-call-us {
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      width: 70%; } }
  .header-call-us p.call {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-call-us p.call {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-call-us p.call {
        font-size: 12px;
        margin-top: 0; } }
  .header-call-us p.number {
    color: darkolivegreen;
    margin-top: 5px;
    font-size: 16px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-call-us p.number {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-call-us p.number {
        font-size: 12px; } }

.header-mail {
  display: flex;
  align-items: center;
  margin-left: 30px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-mail {
      display: none;
      justify-content: space-between;
      margin-left: 0; } }

.header-mail img {
  width: 32px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-mail img {
      width: 25px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-mail img {
      width: 20px; } }

.header-send-us-mail {
  margin-left: 10px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-send-us-mail {
      margin-left: 0;
      display: flex;
      justify-content: space-between;
      width: 70%; } }
  .header-send-us-mail p.send {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-send-us-mail p.send {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-send-us-mail p.send {
        font-size: 12px;
        margin-top: 0; } }
  .header-send-us-mail p.mail {
    color: darkolivegreen;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-send-us-mail p.mail {
        font-size: 14px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-send-us-mail p.mail {
        font-size: 12px; } }

.enquiry {
  margin-left: 30px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .enquiry {
      display: none; } }
  .enquiry p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: orange;
    padding: 20px 40px;
    border-radius: 5px;
    color: white; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .enquiry p {
        padding: 10px 15px;
        font-size: 11px; } }
    .enquiry p a {
      text-decoration: none;
      color: white; }

.header-top-downe {
  position: relative;
  display: flex;
  width: 75%;
  margin-left: auto;
  background-color: #283a59; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-downe {
      width: 100%; } }

.slope-two {
  border-right: 45px outset transparent;
  border-top: 90px solid white; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .slope-two {
      display: none; } }

.header-top-downe ul {
  display: flex; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .header-top-downe ul {
      margin: auto;
      padding: 0; } }
  .header-top-downe ul li {
    list-style-type: none;
    padding: 15px 30px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .header-top-downe ul li {
        padding: 10px 20px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .header-top-downe ul li {
        padding: 10px 9px; } }
    .header-top-downe ul li a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.banner {
  display: flex;
  background-image: url("../images/slide01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .banner {
      height: auto; } }

.banner .container {
  margin-top: 12%; }
  .banner .container .content {
    margin: auto;
    margin-bottom: 400px; }
    @media only screen and (max-width: 1200px) {
      .banner .container .content {
        margin-bottom: 200px; } }

.name p.nam-bor {
  border-bottom: 4px solid orange;
  width: 5%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .name p.nam-bor {
      border-width: 2px; } }

.name h1 {
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-top: 10px;
  margin-bottom: 0; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .name h1 {
      font-size: 28px; } }

.description p {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .description p {
      font-size: 16px; } }

.service {
  background-image: url("../images/world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px; }
  @media only screen and (max-width: 1200px) {
    .service {
      height: auto;
      padding: 50px 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .service .container {
      width: 98%; } }

.ser-vice {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .ser-vice {
      flex-wrap: wrap; } }

.ser {
  width: 30%;
  margin-top: -250px; }
  @media only screen and (max-width: 1200px) {
    .ser {
      width: 48%;
      margin-top: 0;
      margin-bottom: 20px; }
      .ser:nth-child(3) {
        width: 80%;
        margin: auto; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .ser {
      width: 90%;
      margin: auto;
      margin-bottom: 20px; }
      .ser:nth-child(3) {
        width: 90%;
        margin: auto;
        margin-bottom: 20px; } }
  .ser .ser-img-univerzal {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px; }

.ser-img-univerzal.one {
  background-image: url("../images/img1.jpg"); }
  .ser-img-univerzal.one .read-more {
    display: flex;
    position: relative;
    align-items: center;
    top: 212px;
    width: 50%;
    margin-left: auto; }
  .ser-img-univerzal.one .r-m {
    background-color: #173468; }
    .ser-img-univerzal.one .r-m a {
      text-decoration: none; }
      .ser-img-univerzal.one .r-m a p {
        margin: 0;
        font-size: inherit;
        padding: 11.5px;
        color: white;
        font-family: monospace; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .ser-img-univerzal.one .r-m a p {
            padding: 8px; } }
  .ser-img-univerzal.one .r-m:hover {
    background-color: darkslategrey; }
  .ser-img-univerzal.one .arrow {
    background-color: darkblue; }
    .ser-img-univerzal.one .arrow img {
      padding: 11.1px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .ser-img-univerzal.one .arrow img {
          padding: 8px; } }
  .ser-img-univerzal.one .arrow:hover {
    background-color: darkslategrey; }

.ser-img-univerzal.two {
  background-image: url("../images/kiper.jpeg"); }
  .ser-img-univerzal.two .read-more {
    display: flex;
    position: relative;
    align-items: center;
    top: 212px;
    width: 50%;
    margin-left: auto; }
  .ser-img-univerzal.two .r-m {
    background-color: #173468; }
    .ser-img-univerzal.two .r-m a {
      text-decoration: none; }
      .ser-img-univerzal.two .r-m a p {
        margin: 0;
        font-size: inherit;
        padding: 11.5px;
        color: white;
        font-family: monospace; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .ser-img-univerzal.two .r-m a p {
            padding: 8px; } }
  .ser-img-univerzal.two .r-m:hover {
    background-color: darkslategrey; }
  .ser-img-univerzal.two .arrow {
    background-color: darkblue; }
    .ser-img-univerzal.two .arrow img {
      padding: 11.1px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .ser-img-univerzal.two .arrow img {
          padding: 8px; } }
  .ser-img-univerzal.two .arrow:hover {
    background-color: darkslategrey; }

.ser-img-univerzal.three {
  background-image: url("../images/cisterna.jpg"); }
  .ser-img-univerzal.three .read-more {
    display: flex;
    position: relative;
    align-items: center;
    top: 212px;
    width: 50%;
    margin-left: auto; }
  .ser-img-univerzal.three .r-m {
    background-color: #173468; }
    .ser-img-univerzal.three .r-m a {
      text-decoration: none; }
      .ser-img-univerzal.three .r-m a p {
        margin: 0;
        font-size: inherit;
        padding: 11.5px;
        color: white;
        font-family: monospace; }
        @media only screen and (min-width: 120px) and (max-width: 767px) {
          .ser-img-univerzal.three .r-m a p {
            padding: 8px; } }
  .ser-img-univerzal.three .r-m:hover {
    background-color: darkslategrey; }
  .ser-img-univerzal.three .arrow {
    background-color: darkblue; }
    .ser-img-univerzal.three .arrow img {
      padding: 11.1px; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .ser-img-univerzal.three .arrow img {
          padding: 8px; } }
  .ser-img-univerzal.three .arrow:hover {
    background-color: darkslategrey; }

.ser-text {
  background-color: white;
  padding: 20px 40px; }
  .ser-text h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px; }
  .ser-text p.line {
    border-bottom: 3px solid orange;
    margin: 0;
    width: 50px; }
  .ser-text p {
    line-height: 22px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.details {
  margin-top: 100px; }
  @media only screen and (max-width: 1200px) {
    .details {
      margin-bottom: 50px; } }
  .details p {
    margin: auto;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: orange;
    padding: 15px 40px;
    width: 130px;
    border-radius: 50px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .details p {
        width: 80px;
        font-size: 11px;
        padding: 10px 20px; } }
    .details p a {
      text-decoration: none;
      color: white; }

.offer {
  background-color: white; }

.offer .container {
  width: 80%; }

.whatweoffer h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #535353;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 70; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .whatweoffer h3 {
      font-size: 22px;
      margin-top: 45px;
      text-align: center; } }

.col-md-12 {
  display: flex;
  justify-content: space-between;
  margin: 50px 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-md-12 {
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .col-md-12 {
      display: block;
      margin: 30px 0; } }

.col-md-6 {
  display: flex;
  width: 40%;
  padding: 30px 40px;
  align-items: center;
  background-color: #f8f8f8; }
  @media only screen and (max-width: 1200px) {
    .col-md-6 {
      display: block;
      width: 48%;
      padding: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-md-6 {
      display: block;
      width: 100%;
      padding: 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .col-md-6 {
      display: block;
      width: 100%;
      padding: 0; } }
  .col-md-6 .off-img {
    margin-right: 25px; }
    @media only screen and (max-width: 1200px) {
      .col-md-6 .off-img {
        margin: 0 30px;
        text-align: center;
        margin-top: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .col-md-6 .off-img {
        margin: 0 30px;
        text-align: center; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .col-md-6 .off-img {
        margin: 0;
        text-align: center; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .col-md-6 .off-img img {
        padding-top: 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .col-md-6 .off-img img {
        padding-top: 40px; } }
  @media only screen and (max-width: 1200px) {
    .col-md-6 .off-tex {
      margin: 0 30px;
      margin-bottom: 30px; } }
  .col-md-6 .off-tex h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: center; }
  .col-md-6 .off-tex p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 19px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .col-md-6 .off-tex p {
        padding-bottom: 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .col-md-6 .off-tex p {
        padding-bottom: 40px;
        text-align: center; } }

.industry {
  display: flex;
  position: relative; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .industry {
      display: block; } }

.goods {
  display: flex;
  background-color: #283a59;
  width: 50%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .goods {
      width: 40%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .goods {
      width: 100%; } }

.empty {
  width: 20%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .empty {
      display: none; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .empty {
      display: none; } }

.trans-goods {
  width: 80%;
  padding-left: 10%;
  padding-bottom: 50px;
  padding-top: 50px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .trans-goods {
      width: 100%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .trans-goods {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 40px;
      padding-left: 0; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .sector-sec {
    text-align: center; } }

.sector-sec p.bor {
  border: 1.3px solid orange;
  width: 6%;
  margin-bottom: 7px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .sector-sec p.bor {
      width: 100%;
      margin-bottom: 30px; } }

.sector-sec h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  color: white;
  line-height: 25px;
  margin-top: 0; }

.sector-sec p {
  font-size: 14px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.sector-pri {
  display: flex;
  margin-top: 35px;
  align-items: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .sector-pri {
      display: block;
      width: 50%; } }
  .sector-pri .sector-img {
    margin-left: 15px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .sector-pri .sector-img {
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0; } }
    .sector-pri .sector-img img {
      width: 64px; }
  .sector-pri .sector-text {
    padding-left: 50px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .sector-pri .sector-text {
        text-align: center;
        padding-left: 0; } }
    .sector-pri .sector-text p {
      font-size: 19px;
      color: white;
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .sector-pri .sector-text p {
          font-size: 15px; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .sector-pri.five {
    width: 100%; } }

.truck {
  background-image: url("../images/19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .truck {
      width: 60%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .truck {
      width: 100%;
      height: 330px; } }

.element {
  padding: 70px 0; }

.element .container {
  display: flex; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .element .container {
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .element .container {
      display: block; } }

.ele.first {
  text-align: center;
  padding: 0 20px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ele.first {
      padding: 0 0;
      margin-bottom: 30px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .ele.first {
      padding: 0 0;
      margin-bottom: 30px; } }

.ele-head h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.ele-pas p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 20px;
  font-size: 14px; }

.benefit {
  display: flex; }

.benefit .container {
  display: flex;
  width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .benefit .container {
      display: block; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .benefit .container {
      display: block; } }

.provide {
  width: 40%;
  padding-left: 10%;
  background-color: #131820;
  padding-top: 70px;
  padding-bottom: 70px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .provide {
      width: 100%;
      padding: 50px 0; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .provide {
      width: 100%;
      padding: 50px 0; } }
  .provide p.about {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .provide p.about {
        padding: 0 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .provide p.about {
        padding: 0 40px; } }
  .provide h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .provide h2 {
        padding: 0 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .provide h2 {
        padding: 0 40px; } }
  .provide p.des {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 25px;
    padding-right: 20px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .provide p.des {
        padding: 0 40px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .provide p.des {
        padding: 0 40px; } }

.provide .book {
  width: 36%;
  text-align: center;
  background-color: #216ef8;
  margin-top: 35px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .provide .book {
      width: 18%;
      margin: auto;
      margin-top: 35px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .provide .book {
      width: 23%;
      margin: auto;
      margin-top: 35px; } }
  .provide .book a {
    text-decoration: none; }
    .provide .book a p {
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      padding: 20px 20px; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .provide .book a p {
          padding: 15px 15px; } }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .provide .book a p {
          padding: 10px 10px;
          font-size: 11px; } }

.several {
  width: 60%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #216ef8; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .several {
      width: 100%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .several {
      width: 100%; } }

.t-t {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 4%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .t-t {
      width: 90%; } }

.three-theard {
  width: 32%;
  text-align: center;
  margin: 20px 0; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .three-theard {
      width: 33%; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .three-theard {
      width: 50%; }
      .three-theard:nth-child(9) {
        width: 100%; } }

.three-theard p {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: white; }

.client .container {
  width: 80%;
  padding-bottom: 50px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .client .container {
      width: 99%;
      margin: auto; } }

.news {
  text-align: center;
  padding: 50px 0; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .news {
      padding: 30px 0; } }
  .news h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #3f3d3d;
    font-weight: 600;
    text-transform: uppercase; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .news h2 {
        font-size: 20px; } }
  .news p.lin {
    border: 2px solid orange;
    width: 10%;
    margin: auto; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .news p.lin {
        border-width: thin; } }
  .news p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6a6a6a; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .news p {
        font-size: 15px; } }

.latest {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .latest {
      display: block; } }

.lat {
  width: 30%; }
  @media only screen and (max-width: 1200px) {
    .lat {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .lat {
      display: block;
      margin-bottom: 25px; } }

@media only screen and (max-width: 1200px) {
  .lat .one {
    width: 30%;
    margin: auto; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .lat .one {
    width: 100%;
    margin: auto; } }

.lat .one img {
  border-radius: 5px;
  width: 100%; }
  @media only screen and (max-width: 1200px) {
    .lat .one img {
      width: 100%; } }

@media only screen and (max-width: 1200px) {
  .one-text {
    width: 70%; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .one-text {
    width: 100%;
    margin: auto;
    text-align: center; } }

.one-text h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  line-height: 60px; }
  @media only screen and (max-width: 1200px) {
    .one-text h3 {
      line-height: 0px;
      font-size: 18px;
      padding-left: 15px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .one-text h3 {
      font-size: 18px;
      line-height: 18px; } }

.one-text h3.ugiko {
  line-height: inherit; }

.one-text p.d {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #626161;
  line-height: 20px; }
  @media only screen and (max-width: 1200px) {
    .one-text p.d {
      line-height: 17px;
      font-size: 14px;
      padding-left: 15px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .one-text p.d {
      font-size: 14px; } }

.one-text p.p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600; }
  @media only screen and (max-width: 1200px) {
    .one-text p.p {
      font-size: 14px;
      padding-left: 15px; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .one-text p.p {
      font-size: 14px; } }

.slideshow-container {
  background-image: url("../images/99.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto; }

.mySlides {
  display: none; }

.t {
  text-align: center;
  padding-top: 50px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .t {
      padding-top: 30px; } }
  .t p.what {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t p.what {
        font-size: 22px; } }
  .t p.li {
    border-bottom: 3px solid orange;
    width: 8%;
    text-align: center;
    margin: auto; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t p.li {
        border-width: thin; } }
  .t .quote {
    width: 3.5%;
    padding: 10px 0;
    margin: auto;
    background-color: #216ef8;
    border-radius: 100%;
    margin-top: 50px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t .quote {
        width: 30px;
        margin-top: 20px; } }
  .t .quote img {
    width: 32px; }
    @media only screen and (max-width: 1200px) {
      .t .quote img {
        width: 17px; } }
  .t p.say {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
    width: 60%;
    margin: auto;
    line-height: 30px;
    padding-top: 40px;
    font-weight: 600; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t p.say {
        font-size: 15px;
        padding-top: 20px;
        line-height: 20px;
        width: 100%; } }
  .t p.nam {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: orange;
    font-weight: 500;
    padding-top: 40px;
    margin-bottom: 0; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t p.nam {
        font-size: 17px;
        padding-top: 0; } }
  .t p.company-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    font-size: 16px;
    color: white;
    margin-bottom: 50px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .t p.company-name {
        font-size: 14px;
        margin-bottom: 25px; } }

.dot-container {
  text-align: center; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #216ef8; }

.footer {
  background-color: #232526; }

.footer .container {
  padding: 50px 0;
  width: 80%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .footer .container {
      padding: 25px 0; } }
  .footer .container .cols {
    display: flex;
    flex-wrap: wrap; }

.column {
  width: 50%; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .column {
      width: 100%; } }

.column p {
  color: #c1c0c0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.column.two p.ourservice {
  font-size: 20px;
  color: white;
  text-align: center; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .column.two p.ourservice {
      width: 100%; } }

.column.three p.worktime {
  font-size: 20px;
  color: white; }

.column.four p.contact {
  font-size: 20px;
  color: white; }

.column a {
  text-decoration: none; }

.column.one .one-img {
  text-align: center; }
  .column.one .one-img h2 {
    font-size: 25p;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400; }

.column.one p {
  text-align: center; }

.column.one .social {
  display: flex;
  margin-top: 50px; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .column.one .social {
      justify-content: center; } }
  .column.one .social a {
    background-color: #3f3f3f;
    font-size: 25px;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 15px; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .column.one .social a:nth-child(5) {
        margin-right: 0; } }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .column.two {
    display: flex;
    flex-wrap: wrap; } }

.column.two .ours {
  display: flex;
  margin: auto;
  margin-top: 20px;
  align-items: baseline; }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .column.two .ours {
      width: 100%;
      justify-content: center; } }
  .column.two .ours .ours-img {
    padding-left: 200px; }
    @media only screen and (max-width: 1200px) {
      .column.two .ours .ours-img {
        padding-left: 150px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .column.two .ours .ours-img {
        padding-left: 50px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .column.two .ours .ours-img {
        padding-left: 0; } }
    .column.two .ours .ours-img img {
      height: 10px; }
  .column.two .ours .ours-text p {
    margin: 0;
    padding-left: 15px; }
  .column.two .ours .ours-text p:hover {
    color: orange; }

.column.three {
  margin-top: 45px; }
  .column.three p {
    text-align: center; }
  .column.three .week {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white; }
    .column.three .week .day p,
    .column.three .week .time p {
      margin-top: 8px;
      margin-bottom: 8px; }

.column.four {
  margin-top: 45px; }
  .column.four p {
    text-align: center; }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .column.four p {
        width: 100%; } }
  .column.four .cont {
    padding-left: 200px; }
    @media only screen and (max-width: 1200px) {
      .column.four .cont {
        padding-left: 150px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .column.four .cont {
        padding-left: 60px; } }
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      .column.four .cont {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0; } }
    .column.four .cont p {
      font-size: 15px;
      color: white;
      text-align: left;
      margin: 40px 0; }
      @media only screen and (min-width: 120px) and (max-width: 767px) {
        .column.four .cont p {
          width: 100%;
          text-align: center;
          margin: 15px 0; } }
      .column.four .cont p i {
        margin-right: 15px; }

@media only screen and (max-width: 1200px) {
  .updown {
    display: none; } }

.updown a {
  color: orange;
  position: fixed;
  bottom: 30px;
  left: 95%; }
  .updown a i {
    font-size: 40px; }
