
//Mixins



//Mixin t

 @mixin t{ 
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    @include mq('phone'){
        height: 400px;
    }
    .text-slide{
        text-align: center;
        position: relative;
        top: 650px;
        @include mq('phone'){
            top: 200px;
        }
        h2{
            font-size: 35px;
            color: white;
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 0;
            @include mq('phone'){
                font-size: 25px;
            }
        }
        .text-slide-text{
            background-color: $base-color-one;
            width: 150px;
            margin: auto;
            border-radius: 4px;
            @include mq('phone'){
                width: 100px;
            }
            a{
                text-decoration: none;
                color: $base-color-three;
                p{
                    font-size: 15px;
                    padding: 10px 0;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 500;
                    @include mq ('phone'){
                        font-size: 13px;
                    }
                }
            } 
            a:hover{
                color: $base-color-one;
            }   
        }
        .text-slide-text:hover{
            background-color: $base-color-three;
        }    
    }
}

//Mixin uniq

 @mixin uniq{
    display: flex;
    .mob-img,
    .par-img{
        width: 50%;
        @include mq('tablet'){
            width: 100%;
        }
        @include mq('phone'){
            width: 100%;
        }
        img{
            height: 100%;
            width: 100%;
            @include mq('tablet'){
                height: auto;
            }
            @include mq('phone'){
                  height: auto;
            }
        }
    }
    .mob-tex,
    .par-tex{
        width: 50%;
        @include mq('tablet'){
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
        @include mq('phone'){
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
        }
        p{
            font-size: 17px;
            font-weight: 400;
            color: #080808;
            line-height: 25px;
            margin: 70px 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include mq('tablet'){
                margin: 0 0;
                padding: 70px 20px;

                &:nth-child(2){
                    padding-top: 0;
                }
            }
            @include mq('phone'){
                margin: 0 0;
                padding: 45px 20px;
                font-size: 14px;
                line-height: 20px;

                &:nth-child(2){
                    padding-top: 0;
                }
            }
        }
    }
    .par-tex{
        @include mq('tablet'){
            margin-bottom: 0;
        }
        @include mq('phone'){
            margin-bottom: 0;
        }
    }
}

//Mixin footer-section

@mixin footer-section {
    display: block;
    width: 30%;
    text-align: left;
    @include mq('w'){
        width: 50%;
        text-align: center;
    }
    @include mq('phone'){
        width: 100%;
    }
    h3{
        text-align: center;
        font-size: 18px;
        color: white;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('phone'){
            font-size: 16px;
        }
    }
    p{
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('w'){
            padding-top: 30px;
        }
        @include mq('phone'){
            font-size: 14px;
            line-height: 17px;
            padding-top: 0;
        }
    }
}