
@import 'about-us-mixins';
@import 'variables';


body{
    margin: auto;
}
.header{
    display: block;
    background-color:#232526;
}
.header-up{
    display: flex;
    justify-content: center;
    @include mq('phone'){
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
    }
}
.header-up-adresa{
    display: flex;
    align-items: center;
    margin-right: 50px;
    @include mq('phone'){
        margin-right: 15px;
    }
    .arrow{
        margin-right: 15px;
    }
    .adresa{
        p{
            font-size: 18px;
            color: white;
            font-weight: 300;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include mq('tablet'){
                font-size: 16px;
            }
            @include mq('phone'){
                font-size: 15px;
            }
        }
    }
}
.header-up-mail{
    display: flex;
    align-items: center;
    .message{
        margin-right: 15px;
    }
    .mail{
        p{
            font-size: 18px;
            color: white;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include mq('tablet'){
                font-size: 16px;
            }
            @include mq('phone'){
                font-size: 15px;
            }
        }
    }
}
.header-down{
    display: flex;
    margin: auto;
    border-bottom: 5px solid $base-color-one;
    justify-content: space-evenly;
    align-items: center;
    @include mq('phone'){
        flex-wrap: wrap;
    }
}
.logo {
    @include mq('phone'){
        width: 100%;
        text-align: center;
    }
    p{
        font-size: xx-large;
        color: white;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 0;
        @include mq('tablet'){
            margin-bottom: 0;
        }
    }
}
.menu{
    background-color: $base-color-one;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include mq('phone'){
        width: 80%;
    }
    ul{
        display: flex;
        padding: 0 30px;
        @include mq('phone'){
            display: block;
        }
        a{
            text-decoration: none;
            color: white;
            li{
                list-style-type: none;
                font-size: 18px;
                padding: 10px 25px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                @include mq('tablet'){
                    font-size: 14px;
                    padding: 10px 15px;
                }
                @include mq('phone'){
                    width: 100%;
                    padding: 10px 0;
                    text-align: center;
                }
            }
        }
        a:hover{
            border-radius: 20px;
            color: black;
            background-color: $base-color-three;
            transition: 0.75s;  
        }
    }    
}
.number{
    @include mq('phone'){
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    p{
        font-size: 20px;
        color:$base-color-three;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 5px 0;
        @include mq('tablet'){
            font-size: 15px;
        }
        @include mq('phone'){
            font-size: 16px;
            padding-right: 10px;
        }
    }
}
.t-one{
    background-image: url("../images/HEAD_TGX.jpg");
    @include t;
}
.t-two{
    background-image: url("../images/silver-man.jpg");
    @include t;
}
.t-three{
    background-image: url("../images/man-kiper.jpg");
    @include t;
}
.dot-container{
    position: relative;
    top: 750px;
    text-align: center;
    @include mq('phone'){
        top: 200px;
    }
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color:$base-color-one;
}
.aboutus{
    margin-top: 60px;
}
.aboutus .container{
    width: 85%;
    margin: auto;
    @include mq('phone'){
        width: 99%;
    }
}
.aboutus h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @include mq('tablet'){
        font-size: 35px;
    }
    @include mq('phone'){
        font-size: 28px;
    }
}
.onis{
    display: flex;
    margin-top: 60px;
    margin-bottom: 80px;
    @include mq('tablet'){
        display: block;
    }
    @include mq('phone'){
        display: block;
    }
}
.onama{
    width: 50%;
    padding-right: 40px;
    @include mq('tablet'){
        width: 100%;
        padding-right: 0;
    }
    @include mq('phone'){
        width: 100%;
        padding-right: 0;
    }
    h2{
        font-size: 25px;
        color: #747373;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('tablet'){
            text-align: center;
            font-size: 20px;
        }
        @include mq('phone'){
            text-align: center;
            font-size: 20px;
        }
    }
    p{
        font-size: 17px;
        line-height: 25px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('tablet'){
            text-align: center;
            font-size: 15px;
        }
        @include mq('phone'){
            text-align: center;
            font-size: 15px;
            line-height: 22px;
        }
    }
}
.islika{
    width: 50%;
    text-align: center;
    border-left: 7px solid $base-color-three;
    @include mq('tablet'){
        width: 100%;
        border-left: none;
    }
    @include mq('phone'){
        width: 100%;
        border-left: none;
    }
    img{
        width: 65%;
        @include mq('phone'){
            width: 100%;
        }
    }
}
.mobile-park .container{
    width: 85%;
    margin: auto;
    @include mq('phone'){
        width: 99%;
    }
}
.mobile-uniq{
    @include mq ('tablet'){
        display: block;
    }
    @include mq ('phone'){
        display: block;
    }
    @include uniq;
    .mob-tex{
        background-color: $base-color-one;
    }    
}
.park-uniq{
    @include mq('tablet'){
        display: block;
        margin-bottom: 40px;
    }
    @include mq('phone'){
        display: block;
        margin-bottom: 40px;
    }
    @include uniq;
    .par-tex{
        background-color: $base-color-three;
    }
}
.footer{
    background-color: #232526;
    padding-top: 20px;
}
.footer .container{
    width: 85%;
    margin: auto;
}
.footer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq('w'){
        padding-bottom: 20px;
    }
}
.footer-section-one{
    @include footer-section;
    @include mq('w'){
        display: none;
    }
    p{
        color: $base-color-three;
    }
}
.footer-section-two{
    @include footer-section;
    p{
        line-height: 20px;
    }
}
.footer-section-three{
    @include footer-section;
}
.footer-sec-menu{
    text-align: left;
    display: flex;
    width: 100%;
    @include mq('w'){
        display: block;
    }
    ul{ 
        width: 50%;
        padding-left: 0;
        @include mq('w'){
            width: 70%;
            margin: auto;
        }
        a{
            text-decoration: none;
            li{
                list-style-type: none;
                font-size: 15px;
                color: white;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border-bottom: 1px solid $base-color-three;
                padding: 10px 0;
                @include mq('w'){
                    text-align: center;
                    font-size: 13px;
                    padding: 5px 0;
                }
            }
            li:hover{
                color: $base-color-three;
            }
        }
    }
    .social{
        width: 50%;
        @include mq('w'){
            display: flex;
            width: 100%;
            margin: auto;
            margin-top: 50px;
        }
        @include mq('phone'){
            justify-content: center;
        }
        a{ 
            display: block;
            color: white;
            text-decoration: none;
            font-size: 25px;
            width: 40px;
            height: 40px;
            background-color: #4e514e;
            line-height: 40px;
            text-align: center;
            margin: auto;
            margin-bottom: 15px;
            @include mq('phone'){
                font-size: 15px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin-right: 10px;
                margin-left: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}