
@import "variables";
@import "contact-mixins";

body{
    margin: auto;
}
.header-top{
    background-color:$base-color;
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        @include mq('phone'){
            width: 95%;
        }
    }
}
.header-top-tmp{
    display: flex;
    @include mq('phone'){
        flex-wrap: wrap;
        width: 100%;
        padding-top: 7px;
    }
}
.header-top-uniq{
    display: flex;
    align-items: center;
    margin-right: 20px;
    @include mq('phone'){
        display: block;
        margin-right: 0;
        width: 50%;
    }
    @include uniq;
}
.header-top-uniq.phone{
    @include mq('phone'){
        display: none;
    }
    .text.phone{
        p{
            border-right: none;
        }
    }
}
.header-top-quote{
    background-color: $base-color-one;
    transition: 0.6s ease;
    @include mq('phone'){
        display: none;
    }
    a{
        text-decoration: none;
        color: white;
        p{
            font-size: $font-base-two;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 15px 8px;
            text-align: center;
        }
    }
    a:hover{
        color: $base-color-one;
    }
}
.header-top-quote:hover{
    background-color: $base-color-three;
}
.header-midle{
    background-color: #e9e9e9;
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq('phone'){
            width: 95%;
        }
    }
}
.header-midle-logo{
    display: flex;
    .logo-name{
        @include mq('phone'){
            text-align: center;
        }
        h3{
            font-size: xx-large;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: $base-color-three;
            @include mq('phone'){
                font-size: 23px;
                margin: 0;
            }
        }
    }
}
.header-midle-contact{
    display: flex;
    align-items: center;
    .quote{
        display: flex;
        align-items: center;
        margin-right: 30px;
        @include mq('phone'){
            margin-right: 0;
            display: block;
            margin-right: 5px;
        }
        .quote-img{
            margin-right: 15px;
            @include mq('phone'){
                margin-right:0px;
                text-align: center;
            }
            img{
                @include mq('phone'){
                    width: 24px;
                }
            }
        }
        .quote-text{
            @include mq('phone'){
                text-align: center;
            }
            p{
                font-size:  $font-base-one;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: $base-color;
                margin: 0 0;
                @include mq('phone'){
                    font-size: 12px;
                    margin: 5px 0;
                }
            }
        }
    }
    .number{
        padding-left: 30px;
        border-left: 1px solid black;
        @include mq('phone'){
            padding-left: 0;
            border-left: none;
        }
        p{
            font-size: 20px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: $base-color-two;
            @include mq('phone'){
                font-size: 14px;
                text-align: center;
                margin: 5px 0;
            }
        }
    }
}
.header-bottom{
    background-color: $base-color-one;
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq('phone'){
            width: 95%;
            display: flex;
            flex-wrap: wrap;
        }
    }
}
.header-bottom-menu{
    padding-left: 100px;
    @include mq('w'){
        padding-left: 0;
    }
    @include mq('phone'){
        width: 100%;
    }
    ul{
        display: flex;
        padding: 0;
        @include mq('phone'){
            margin-bottom: 0;
        }
        a{
            text-decoration: none;
            color:white;
            li{
                list-style-type: none;
                padding: 10px 25px;
                font-size: 18px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                @include mq('w'){
                    font-size: 14px;
                    padding: 10px 7px;
                }
                @include mq('phone'){
                    font-size: 13px;
                    padding: 10px 5px;
                }
            }
        }
        a:hover{
            color: $base-color-three;
        }
    }
}
.header-bottom-adress{
    @include mq('phone'){
        width: 100%;
    }
    .adress{
        display: flex;
        align-items: center;
        @include mq('phone'){
            justify-content: flex-end;
            align-items: baseline;
        }
        .adress-img{
            margin-right: 10px;
            img{
                @include mq('phone'){
                    width: 14px;
                }
            }
        }
        .adress-text{
            p{
                font-size: 18px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: black;
                @include mq('w'){
                    font-size: 15px;
                }
                @include mq('phone'){
                    font-size: 14px;
                    margin-top: 0;
                }
            }
        }
    }
}
.map{
    map{
        iframe{
            @include mq('tablet'){
                height: 300px;
            }
            @include mq('phone'){
                height: 200px;
            }
        }
    }
}
.contact .container{
    width: 85%;
    margin: auto;
    display: flex;
    @include mq('phone'){
        display: block;
    }
}
.contact-us{
    width: 50%;
    @include mq('phone'){
        width: 100%;
    }
}
.contact-field{
    h2{
        font-size: 30px;
        font-weight: 700;
        margin-top: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $base-color;
        @include mq('w'){
            font-size: 25px;
        }
        @include mq('phone'){
            text-align: center;
            font-size: 20;
        }
    }
    .bor{
        border-bottom: 2px solid $base-color;
        width: 150px;
        @include mq('w'){
            width: 100px;
        }
        @include mq('phone'){
            margin: auto;
        }
    }
}
.request{
    margin: 50px 0;
    form{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        @include mq('phone'){
            margin: auto;
        }
        input{
            width: 48%;
            margin-bottom: 20px;
            padding: 15px 10px;
        }
        #name, 
        #phone{
             margin-right: 4%;
             
        }
         textarea{
             height: 150;
             width: 100%;
             padding: 20 10;
        }
        #send{
             margin-top: 20;
             width: 25%;
             background:$base-color-one;
             cursor: pointer;
        }
    }
}   
.contact-information{
    width: 50%;
    margin-top: 140px;
    @include mq('phone'){
        width: 100%;
        margin-top: 20px;
    }
}
.con-us{
    width: 80%;
    margin: auto;
    background-color: $base-color-one;
    h3{
        font-size: 21px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px 0;
        padding-left: 15px;
        color: white; 
        margin: 0;
        @include mq('phone'){
            text-align: center;
            font-size: 16px;
        }
    }
}
.cont-info{
    width: 80%;
    margin: auto;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6; 
    border-bottom: 1px solid #c6c6c6;
    padding: 20px 0;
    p{
        font-size: $font-base-two ;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 7px 10px;
        @include mq('w'){
            padding: 7px 5px;
            font-size: 13px;
        }
        @include mq('phone'){
            padding-left: 14px;
        }
        i{
            margin-right: 15px;
        }
    }
}
.footer-top{
    background-color: $base-color;
    margin-top: 30px;
    padding-top: 30px;
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        @include mq('w'){
            flex-wrap: wrap;
        }
    }
}
.footer-left,
.footer-midle,
.footer-right{
    width: 30%;
    @include mq('w'){
        width: 100%;
    }
    .footer-header-name{
        h3{
            font-size: 20px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            @include mq('w'){
                text-align: center;
            }
            @include mq('phone'){
                font-size: 16px;
            }
        }
        .bor-bott{
            margin-bottom: 30px;
            border-bottom: 2.5px solid $base-color-three;
            width: 50px;
            @include mq('w'){
                margin: auto;
             }
             @include mq('phone'){
                 border-width: thin;
             }
        }
    }
}
.footer-left{
    .footer-text{
        p{
            font-size:  $font-base-two;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            @include mq('w'){
                text-align: center;
                padding: 0 70px;
            }
            @include mq('phone'){
                padding: 0 20px;
                font-size: 13px;
            }
        }
    }
}
.footer-midle{
    .footer-menu{
        @include mq('w'){
            width: 50%;
            margin: auto;
        }
        @include mq('phone'){
            width: 100%;
        }
        ul{
            padding: 0;
            li{
                list-style-type: none;
                font-size: 16px;
                padding: 10px 0;
                color: white;
                border-bottom: 1px solid;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                cursor: pointer;
                @include mq('w'){
                    text-align: center;
                }
                @include mq('phone'){
                    font-size: 13px;
                }
            }
            li:hover{
                color: $base-color-three;
            }
        }
    }
}
.footer-contact{
    margin-top: 15px;
    .contactdetail{
        p{
            color: white;
            font-size:  $font-base-two;
            font-weight: 300;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include mq('w'){
                text-align: center;
            }
            @include mq('phone'){
                font-size: 13px;
            }
            i{
                margin-right: 20px;
            }
        }
    }
       
}
.footer-bottom{
    padding-top: 20px;
    background-color: $base-color;
    .container{
        border-top: 1px solid white;
        padding: 20px 0;
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq('phone'){
            display: block;
            padding: 0;
            width: 95%;
        }
    }
}
.copyright{ 
    @include mq('phone'){
        text-align: center;
    }
    p{
        font-size:  $font-base-one;
        font-weight: 100;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        @include mq('phone'){
            font-size: 13px;
        }
        a{
            list-style-type: none;
            color: $base-color-one
        }
        a:hover{
            color: $base-color-three;
        }
    }
}
.footer-menu-social{
    padding-right: 70px;
    @include mq('phone'){
        padding-right: 0;
        text-align: center;
        padding-bottom: 15px;
    }
    a{
        width: 30px;
        height: 30px;
        color:white;
        border: 2px solid white;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        margin: 0 10px;
        text-decoration: none;
        @include mq('w'){
            margin: 0;
        }
        @include mq('phone'){
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-width: thin;
        }
    }
}