
//Mixins





@mixin  uniq {
    .images{
        margin-right: 10px;
        @include mq('phone'){
            margin-right: 0;
            text-align: center;
        }
    }
    .text{
        p{
            font-size: 14px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            padding-right: 20px;
            border-right: 1px solid white;
            @include mq('phone'){
                font-size: 12px;
                padding-right: 0;
                margin: 7px 0;
            }
        }
    }
    .text.time{
        p{
            @include mq('phone'){
                padding-right: 0px;
                border-right: none;
                text-align: center;
            }
        }
    }
    .text.mail{
        a{
            text-decoration: none;
            p{
                @include mq('phone'){ 
                    border-right: none;
                    padding-right: 0;
                    text-align: center;
                }
            }
            p:hover{
                color: $base-color-one;
            }
        }
    }
    .text.phone{
        p{
            @include mq('phone'){
               padding-left: 7px;
               border-right: 1px solid white;
            }
        }
    }
}