
@import 'variables';

body{
    margin: auto; 
}
.container{
    width: 80%;
    margin: auto;
}
.header-top{
    background-color:#fff;
    border-top: 2px solid $base-color-one ;
    border-bottom: 2px solid $base-color ;
}
.header-top-up{
    width: 75%;
    margin-left: auto;
    background-color: $base-color-one;
    display: flex;
    justify-content: space-between;
    @include mq('phone'){
        width: 100%;
        margin: auto;
    }
}
.slope-one{
    border-left: 35px outset white;
    border-top: 54px solid $base-color-one;
    @include mq('phone'){
        display: none;
    }
}
.header-top-first{
    display: flex;
    align-items: center;
    @include mq('phone'){
        padding-left: 5%;
    }
    p.time{
        font-size: inherit;
        padding-left: 20px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
            padding-left: 5px;
        }
    }
    img{
        width: 32px;
        @include mq('tablet'){
            width: 25px;
        }
        @include mq('phone'){
            width: 20px;
        }
    }
}
.header-top-secnd{
    display: flex;
    align-items: center;
    padding-right: 15%;
    @include mq('phone'){
        padding-right: 5%;
    }
    a{
        font-size: 25px;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        @include mq('tablet'){
            font-size: 15px;
            margin-right: 10px;
        }
        @include mq('phone'){
            font-size: 15px;
            margin-right: 10px;

            &:nth-child(5){
                margin-right: 0;
            }
        }
    }
}
.header-top-middle{
    display: flex;
    .container{
        display: flex;
        justify-content: space-between;
        @include mq('tablet'){
            width: 90%;
        }
        @include mq('phone'){
            width: 90%;
        }
    } 
}
.header-name{
    @include mq('phone'){
        width: 100%;
    }
    h3{
        font-size: xx-large;
        font-family: sans-serif;
        margin-bottom: 0;
        @include mq('tablet'){
            font-size: 25px;
        }
        @include mq('phone'){
            font-size: 17px;
        }
    }
    p{
        margin-top: 0;
        font-family: cursive;
        font-size: inherit;
        @include mq('tablet'){
            font-size: 13px;
        }
        @include mq('phone'){
            font-size: 13px;
        }
    }
}
.header-contact{
    display: flex;
    align-items: center;
    @include mq('phone'){
        display: block;
        width: 65%;
        justify-content: space-between;
    }
}
.header-call{
    display: flex;
    align-items: center;
    @include mq('phone'){
        display: none;
        justify-content: space-between;
    }
}
.header-call img{
    width: 32px;
    @include mq('tablet'){
        width: 25px;
    }
    @include mq('phone'){
        width: 20px;
    }
}
.header-call-us{
    margin-left: 10px;
    @include mq('phone'){
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    p.call{
        font-size: 15px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
            margin-top: 0;
        }
    }
    p.number{
        color: darkolivegreen;
        margin-top: 5px;
        font-size: 15px;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
        }
    }
}
.header-mail{
    display: flex;
    align-items: center;
    margin-left: 30px;
    @include mq('phone'){
        display: none;
        justify-content: space-between;
        margin-left: 0;
    }
}
.header-mail img{
    width: 32;
    @include mq('tablet'){
        width: 25px;
    }
    @include mq('phone'){
        width: 20px;
    }
}
.header-send-us-mail{
    margin-left: 10;
    @include mq('phone'){
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    p.send{
        font-size: 15px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
            margin-top: 0;
        }
    }
    p.mail{
        color: darkolivegreen;
        margin-top: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
        }
    }
}
.enquiry{
    margin-left: 30px;
    @include mq('phone'){
        display: none;
    }
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: 600;
        background-color:$base-color-three;
        padding: 20px 40px;
        border-radius: 5px;
        color: white;
        @include mq('tablet'){
            padding: 10px 15px;
            font-size: 11px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.header-top-downe{
    position: relative;
    display: flex;
    width: 75%;
    margin-left: auto;
    background-color: #283a59;
    @include mq('phone'){
        width: 100%;
    }
}
.slope-two{
    border-right: 45px outset transparent;
    border-top: 90px solid white;
    @include mq('phone'){
        display: none;
    }
}
.header-top-downe ul{
    display: flex;
    @include mq('phone'){
        margin: auto;
        padding: 0; 
    }
    li{
        list-style-type: none;
        padding: 15px 30px;
        @include mq('tablet'){
            padding: 10px 20px;
        }
        @include mq('phone'){
            padding: 10px 9px;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
.slider_wrap{
    position: relative;
}
.banner_slider{
    height: 1100px;
    @include mq('w'){
        height: 800px;
    }
    @include mq('phone'){
        height: 400px;
    }
}
.thumbnail_slider_area{
    position: absolute;
    left: 0;
    bottom: -172px;
    width: 100%;
    z-index: 1;
    background: black;
    padding: 20px 0;
    @include mq('phone'){
        display: none;
    }
    .container{
        width: 91%;
    }
}
.row{
    display: flex;
}
.col{
    padding: 10px;
    margin: auto;
}
.col img{
    width: 250px;
    height: 210px;
    border: 1px solid black;
    @include mq('w'){
        width: 150px;
        height: 100px;
    }
}
.section.two{
    background-image: url('../images/volvo-fh16-540_12.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    top: 156px;
    @include mq('phone'){
        height: auto;
        top: 0;
    }
}
.hi-slide{
    position: relative;
    width: 755px;
    height: 300px;
    margin:auto;
    top: 120px;
    @include mq('tablet'){
        display: none;
    }
    @include mq('phone'){
        display: none;
    }
}
.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
}
.hi-slide .hi-prev{
    left: -80px;
}
.hi-slide .hi-prev::before{
    content: '<';
}
.hi-slide .hi-next{
    right: -80px;
}
.hi-slide .hi-next::before{
    content: '>';
}
.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 755px;
    height: 300px;
    padding: 0;
}
.hi-slide > ul > li{
    position: absolute;
    overflow: hidden;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    cursor: pointer;
    background-color: #333;
}
.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}
.gallery{
    display: none;
    @include mq('tablet'){
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width:calc(100% - 50px);
        margin:auto;
        padding-top: 90px;
    }
    @include mq('phone'){
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width:99%;
        margin:auto;
        padding-top: 90px;
    }
    a{
        display: block;
        text-decoration: none;
        outline: none;
        overflow: hidden;
        width: 24%;
        height: 178px;
        margin-bottom: 10px;
        @include mq('phone'){
            width: 100%;
            height: 260px;
        }
        img{
            width: 100%;
            height: 100%;
            transform: scale(1,1);
            transition: all 300ms ease;
        }
        img:hover{
            transform: scale(1.1,1.1);
        }
    }
}
.section.three{
    position: relative;
    top: 156px;
    padding-top: 50px;
    @include mq('phone'){
        top: 0;
    }
}
.container{
    width: 80%;
    @include mq('phone'){
        width: 99%;
    }
}
.heading-foto{
    text-align: center;
    margin-bottom: 90px;
    @include mq('w'){
        margin-bottom: 40px;
    }
    h2{
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-weight: 700;
        @include mq('w'){
           font-size: 28px;
        }
    }
    p{
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-weight: 400;
        @include mq('w'){
           font-size: 17px;
        }
    }
}
.foto-album-foto{
    display: flex;
    position: relative;
    justify-content: space-between;
    @include mq('w'){
        flex-wrap: wrap;
    }
}
.foto-album{
    position: relative;
    overflow: hidden;
    width: 22%;
    box-shadow: 5px 5px 15px black;
    border-radius: 150px 20px 30px 23px;
    cursor: pointer;
    @include mq('w'){
        width: 45%;
        margin-bottom: 50px;
    }
    @include mq('phone'){
        width: 100%;
    }
}
.single-album{
    position: relative;
    overflow: hidden;
}
.single-album img{
    width: 100%;
    height: 300px;
    transition: .4s;
    @include mq('phone'){
        height: auto;
    }
}
.foto-album:hover .single-album img{
    transform: scale(1.5,1.5);
}
.album-content{
    height: 60px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    bottom: 0;
    transition: all .4s;
    background: $base-color-one;
    opacity: 0.85;
}
.foto-album:hover .album-content{
    height: 130px;
    background: #000;
}
.album-info{
    transition: all .5s;
}
.album-info h3{
    font-size: 16px;
    color: white;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.album-info p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
.album-text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 20px;
    font-size: 15px;
}
.section-four{
    position: relative;
    top: 200px; 
    width: 80%;
    margin: auto;
    text-align-last: justify;
    @include mq('phone'){
        top: 0;
        display: flex;
        flex-wrap: wrap;
    }
}
video{
    margin-right: 10px;
    width: 300px;
    height: 250px;
    @include mq('w'){
        width: 180;
        height: 100px;
    }
    @include mq('phone'){
        width: 51%;
        margin: auto;
        height: 150px;
        margin-bottom: 40px;
    }
}
.footer-top{
    background-color:#333333 ;
    margin-top: 250px;
    padding-top: 30px;
    @include mq('phone'){
        margin-top: 0;
    }
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.footer-left,
.footer-midle,
.footer-right{
    width: 30%;
    @include mq('tablet'){
        width: 100%;
        text-align: center;
    }
    @include mq('phone'){
        width: 100%;
        text-align: center;
    }
    .footer-header-name{
        h3{
            font-size: 20px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
        }
        .bor-bott{
            margin-bottom: 30px;
            border-bottom: 2.5px solid orange;
            width: 50px;
            @include mq('tablet'){
                 margin: auto;
            }
            @include mq('phone'){
                margin: auto;
           }
        }
    }
}
.footer-left{
    .footer-text{
        p{
            font-size:15px ;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
        } 
    }
}
.footer-midle{ 
    .footer-menu{
        @include mq('tablet'){
             width: 50%;
             margin: auto;
        }
        @include mq('phone'){
            width: 100%;
            margin: auto;
       }
        ul{
            padding: 0;
           li{
            list-style-type: none;
            font-size: 16px;
            color: white;
            padding: 10px 0;
            border-bottom: 1px solid;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            cursor: pointer;
            }
            li:hover{
                color: $base-color-three;
            }
        }
    }
}
.footer-contact{
    margin-top: 15;
    .contactdetail{
        p{
            color: white;
            font-size:15px;
            font-weight: 300;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            i{
                margin-right: 20px;
            }
        }
    }
}
.footer-bottom{
    padding-top: 20px;
    background-color: #333333;
    .container{
        border-top: 1px solid white;
        padding: 20px 0;
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include mq('phone'){
            width: 95%;
        }
    }
}
.copyright{
    @include mq('phone'){
        width: 100%;
        text-align: center;
    }
    p{
        font-size: 14px ;
        font-weight: 100;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        a{
            color: $base-color-one;
        }
        a:hover{
            color: $base-color-three;
        }
    }
}
.footer-menu-social{
    padding-right: 30px;
    @include mq('phone'){
        padding-right: 0;
        width: 100%;
        text-align: center; 
    }
        a{
        width: 30px;
        height: 30px;
        color:white;
        border: 2px solid white;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        margin: 0 10px;
        text-decoration: none;
        @include mq('phone'){
            width: 25px;
            height: 25px;
            line-height: 25px;
            margin: 0 7px;
        }
    }
}