
@import "service-mixins";
@import "variables";

body{
    margin: auto;
}
.heading-top{
    display: flex;
    background-color: $base-color;
    align-items: center;
    .container{
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        @include mq('phone'){
            width: 95%;
        }
        .mobile-ht,
        .mail-ht,
        .adress-ht,
        .social{
            @include mq('w'){
                width: 50%;
                text-align: center;
            }
            @include mq('phone'){
                width: 100%;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: white;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                @include mq('phone'){
                    font-size: 12px;
                }
                @include mq('phone'){
                   font-size: 13px;
                   margin: 5px 0;
                }
                i{
                    color: $base-color-three;
                    margin-right: 15px;
                    @include mq('phone'){
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
.social{
    line-height: 46px;
    a{
        color: white;
        i{
            font-size: 17px;
            margin-right: 15px;
            @include mq('phone'){
                font-size: 13px;
                margin-right: 15px;
            }
        }
    }
    a:hover{
        color: $base-color-three;
    }
}
.heading-down{
    background-color: $base-color-one;
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    display: flex;
    p.firm{
        font-size: xx-large;
        font-weight: 600;
        color: $base-color-three;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p.trans{
        font-size: xx-large;
        font-weight: 600;
        color: $base-color;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.menu nav.active{
    @include mq ('phone') {
        left: 0;
    }
}
.menu nav{
    @include mq ('tablet') {
        position: relative;
        left: 0;
        background-color: transparent;
        top: 0;
    }
    @include mq('phone') {
        position: absolute;
        width: 100%;
        left: -100%;
        background-color:$base-color-one;
        top: 113px;
        transition: 0.5s;
    }
    ul{
        display: flex;
        padding-left: 0;
        @include mq('phone') {
            display: block;
            margin: 0;
        }
        a{
        text-decoration: none;
        color: white;
            li{
                list-style-type: none;
                padding: 10px 25px;
                font-size: 18px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 400;
                @include mq('w'){
                    font-size: 16px;
                    padding:  10px 10px;
                }
                @include mq ('tablet'){
                    font-size: 13px;
                    padding:  10px 10px;
                    border-bottom: none;
                }
                @include mq('phone'){
                    display: block;
                    text-align: center;
                    border-bottom: 1px solid rgba(0,0,0,.2);
                    font-size: 14px;
                }
            }
        }
        a:hover{
            color: $base-color-one;
            transition: 0.35s;
            li:hover{
                background-color: $base-color-three;
            }
        }
    }
}
.menu-toggle{
    color: black;
    font-size: 24px;
    cursor: pointer;
    display: none;
    @include mq ('phone') {
        display: block;
    }
}
.qoute{
    background-color: $base-color-three;
    padding: 0 20px;
    border-radius: 25px;
    @include mq ('tablet') {
        padding: 0 9px;
        border-radius: 15px;
        display: block;
    }
    @include mq ('phone') {
        display: none;
    }
    a{
        text-decoration: none;
        p{
            font-size: 15px;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            @include mq ('tablet') {
                font-size: 13px;
                font-weight: 600;
            }
            @include mq ('phone') {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}
.s-one{
    background-image: url("../images/dupla-cisterna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    @include mq('phone'){
        height: 500px;
    }
}
.s-two{
    background-image: url("../images/mercedes-benz_axor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    @include mq('phone'){
        height: 500px;
    }
}
.s-three{
    background-image: url("../images/volvo-fh16-540_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    @include mq('phone'){
        height: 500px;
    }
}
.slide-text{
    position: relative;
    top: 550px;
    text-align: center;
    @include mq('phone'){
        top: 200px;
    }
    h3{
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 40px;
        font-weight: 500;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq ('w'){
            font-size: 20px;
        }
        @include mq ('phone'){
            font-size: 15px;
        }
    }
    h1{
        font-size: 55px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        @include mq ('w'){
            font-size: 40px;
        }
        @include mq ('phone'){
            font-size: 25px;
        }
    }
}
.dot-container{
    position: relative;
    top: 600px;
    text-align: center;
    @include mq('phone'){
        top: 200px;
    }
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color:$base-color-one;
}
.slider-below-image{
    position: relative;
    top: -90px;
    text-align: center;
    img{
        @include mq ('phone'){
            width: 80%;
            height: 50%;
        }
    }
}
.service-one .container{
    width: 85%;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    @include mq ('tablet'){
        display: block;
    }
    @include mq ('phone'){
        display: block;
        width: 99%;
    }
}
.service-one-images{
    width: 50%;
    @include mq ('tablet'){
        width: 80%;
        margin: auto;
    }
    @include mq ('phone'){
        width: 100%;
        margin: auto;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.service-one-text{
    width: 50%;
    @include mq ('tablet'){
        width: 80%;
        margin: auto;
    }
    @include mq ('phone'){
        width: 90%;
        margin: auto;
    }
    h2{
        font-size: 25px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        @include mq ('tablet'){
            font-size: 20px;
            text-align: center;
        }
        @include mq ('phone'){
           font-size: 16px;
           text-align: center;
        }
    }
    h2.fwf{
        font-weight: 600;
        font-size: 37px;
        @include mq ('tablet'){
            font-size: 30px;
            text-align: center;
        }
        @include mq ('phone'){
            font-size: 22px;
            text-align: center;
        }
    }
    p{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333333;
        @include mq ('tablet'){
            text-align: center;
        }
        @include mq ('phone'){
           text-align: center;
           font-size: 14px;
        }
    }
}
.service-three{
    .container{
        display: flex;
        @include mq('w'){
            display: block;
            width: 80%;
            margin: auto;
        }
        @include mq('phone'){
            width: 99%;
        }
    }
}
.image-three{
    width: 45%;
    @include mq('w'){
        width: 100%;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.service-why{
    margin: 50px 0;
    padding-right: 80px;
    padding-left: 50px;
    width: 55%;
    background-color: #f6f6f6;
    @include mq('w'){
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
        padding-right: 0;
        padding-left: 0; 
    }
    @include mq('phone'){
        padding-bottom: 15px;
    }
    .serv-text{
        @include mq('w'){
            margin-top: 50px;
        }
        h2{
            margin-top: 80px;
            font-size: 38px;
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
            @include mq('w'){
                padding-top: 30px;
                text-align: center;
            }
            @include mq('phone'){
               font-size: 27px;
            }
        }
        p{
            font-size: 17px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 60px;
            @include mq('w'){
                padding: 0 40px;
                text-align: center;
            }
            @include mq('phone'){
               font-size: 15px;
               line-height: 22px;
            }
        }
    }
    .why{
        display: flex;
        margin-bottom: 50px;
        @include mq('phone'){
            flex-wrap: wrap;
        }
        .why-univerzal-one{
            @include univerzal;
        }
        .why-univerzal-two{
            @include univerzal;
        }
    }
}
.service-uniq .container{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    padding: 55px 0;
    @include mq('w'){
        display: block;
        width: 99%;
    }
}
.service-uniq-text{
    width: 47%;
    @include mq('w'){
        width: 100%;
    }
    h3{
        font-size: 24px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        @include mq('phone'){
            font-size: 20px;
            text-align: center;
        }
    }
    h2{
        font-size: 45px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 15px 0;
        @include mq('phone'){
            font-size: 28px;
            text-align: center;
        }
    }
    p{
        font-size: 17px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 25px;
        @include mq('phone'){
            font-size: 15px;
            line-height: 20px;
            text-align: center;
        }
    }
    .chack{
        p.list{
            @include mq('phone'){
                font-size: 13px;
                text-align: left;
            }
            i{
                margin-right: 10px;
                color:$base-color-one;
            }
        }
    }
}
.service-uniq-img-text{
    width: 47%;
    @include mq('w'){
        width: 100%;
    }
    .two-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .image-one-text{
            width: 48%;
            @include mq('phone'){
                width: 100%;
                margin: auto;
            }
            .foto{
               img{
                   width: 100%;
                }
            }
            p.bold{
                font-size: 22px;
                font-weight: 700;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                @include mq('phone'){
                    font-size: 20px;
                    text-align: center;
                }
            }
            p{
                font-size: 17px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                @include mq('phone'){
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}
.service-four{
    background-image: url("../images/fotografija\ 12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    @include mq('phone'){
        height: 650px;
    }
}
.service-four{
    .container{
        width: 85%;
        margin: auto;
        .process{
            position: relative;
            top:90px;
            @include mq('phone'){
                top: 0;
            }
        }
    }
}
.our-process{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    @include mq ('tablet'){
        width: 80%;
    }
    @include mq('phone'){
        width: 80%;
        padding-top: 20px;
    }
    h2{
        font-size: 40px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        @include mq('phone'){
            font-size: 28px;
        }
    }
    p{
        font-size: 17px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        @include mq('phone'){
            font-size: 15px;
        }
    }
}
.process-circle{
    display: flex;
    margin: auto;
    justify-content: space-between;
    @include mq('phone'){
        flex-wrap: wrap;
    }
}
.two-circle{
    @include mq('phone'){
        width: 50%;
    }
    .small-circle{
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: $base-color-one;
        border-radius: 50%;
        text-align: center;
        color: white;
        position: relative;
        top: 60px;
        @include mq ('tablet'){
            display: none;
        }
        @include mq('phone'){
            display: none;
        }
    }
    .big-circle{
        background-color: white;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        text-align: center;
        line-height: 200px;
        margin: auto;
        @include mq ('tablet'){
            width: 150px;
            height: 150px;
        }
        @include mq('phone'){
            width: 100px;
            height: 100px;
        }
        img{
            position: relative;
            top: 63px;
            @include mq ('tablet'){
                top: 38px;
            }
            @include mq('phone'){
                width: 40px;
                top: 30px;
            }
        }
    }
    .text-down{
        h4{
            font-size: 20px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            text-align: center;
            @include mq('phone'){
                font-size: 13px;
            }
        }
    }
}
.service-five{
    background-color: #f6f6f6;
    padding: 70px 0;
    @include mq('phone'){
        padding: 35px 0;
    }
    .container{
        width: 85%;
        margin: auto;
    }    
}
.specialties{
    width: 57%;
    margin: auto;
    text-align: center;
    @include mq('w'){
        width: 100%;
    }
    h2{
        font-size: 40px;
        font-weight: 700;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('phone'){
            font-size: 28px;
        }
    }
    p{
        font-size: 17px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq ('phone'){
            font-size: 15px;
            padding-bottom: 20px;
        }
    }
}
.our-specialties{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    @include mq('w'){
        display: block;
    }
    @include mq('phone'){
        margin-top: 50px;
    }
    .our-specialties-bg{
        display: flex;
        position: relative;
        width: 31%;
        @include mq('w'){
            width: 100%;
            margin-bottom: 30px;
        }
        .our-specialties-bg-icon{
            opacity: 0.2;
            position: absolute;
            z-index: 1;
            left: 100;
            @include mq('phone'){
                display: none;
            }
            i{
                font-size: 150px;
                z-index: 999;
                color: black;
                background-color: white;
            }
            i:hover{
                transition-property: transform;
                transition-duration: .6s easy;
                font-size: 230px;
            }
        }
        .our-specialties-bg-text{
            width: 100%;
            z-index: 999;
            position: relative;
            bottom: 30px;
            @include mq('w'){
                text-align: center;
                padding: 0 100px;
            }
            @include mq('phone'){
                padding: 0 30px;
            }
            h3{
                font-size: 25px;
                font-weight: 500;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #353535;
                @include mq ('phone'){
                    font-size: 23px;
                    margin-top: 0;
                }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #353535;
                @include mq ('phone'){
                    font-size: 14px;
                }
            }
        }
    }
 }
.our-specialties-only-icon{
    display: flex;
    justify-content: space-between;
    .only-icon{
        width: 30%;
        text-align: center;
        i{
            width: 74px;
            height: 74px;
            font-size: 30px;
            background-color: $base-color-one;
            border-radius: 50%;
            text-align: center;
            line-height: 74px;
            color: white;
            position: relative;
            z-index: 999;
            @include mq('phone'){
                width: 50;
                height: 50;
                font-size: 20;
                line-height: 50px;
            }
        }   
    }      
}
.service-six{
    display: flex;
    background-color: $base-color-three;
    @include mq('w'){
        display: block;
    }
}
.wallpaper{
    background-image: url("../images/fotografija\ 18-18.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    @include mq('w'){
        background-image: url("../images/fotografija\ 188.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}
.wallpaper-text{
    padding-left: 80px;
    padding-top: 110px;
    padding-bottom: 120px;
    @include mq('w'){
        text-align: center;
        padding: 100px 0;
    }
    @include mq('phone'){
        padding-top: 100px;
        padding-bottom: 20px;
    }
    h3{
        font-size: 25px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin: 0;
        @include mq ('w'){
            font-size: 22px;
        }
    }
    h1{
        font-size: 55px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin: 0;
        @include mq('w'){
            padding-bottom: 50px;
        }
        @include mq ('phone'){
            font-size: 40px;
        }
    }
    h2{
        font-size: 35px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        @include mq('w'){
            padding-bottom: 50px;
        }
        @include mq ('phone'){
            font-size: 30px;
        }
    }
    p{
        font-size: 17px;
        font-weight: 300;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        @include mq('w'){
            padding-bottom: 50px;
        }
    }
}
.company{
    width: 50%;
    @include mq('w'){
        width: 100%;
    }
    .company-in{
        padding-left: 80px;
        padding-top: 120px;
        padding-right: 60px;
        @include mq ('w'){
            text-align: center;
            padding: 100px 0;
        }
        @include mq ('phone'){
           padding: 50px 0;
        }
        h2{
            font-size: 40px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            margin-top: 0;
            @include mq ('w'){
                text-transform: uppercase;
            }
            @include mq ('phone'){
               font-size: 28px;
            }
        }
        p{
            font-size: 17px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            @include mq('w'){
                padding: 10px 100px;
                font-size: 25px;
                margin: 0;
            }
            @include mq ('phone'){
                font-size: 18px;
                padding: 10px 5%;
            }
            i{
                color: $base-color-one;
                margin-right: 25px;
                @include mq ('phone'){
                    margin-right: 10px;
                }
            }
        }
        p.big{
            @include mq('w'){
                font-size: 30px;
                padding-bottom: 50px;
            }
            @include mq ('phone'){
                font-size: 21px;
                line-height: 25px;
            }
        }
    }
}
.service-seven{
    background-color: #f6f6f6;
    padding: 70px 0;
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        @include mq('w'){
            display: block;
        }
    }
}
.customers{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 50px;
    width: 35%;
    @include mq('w'){
        width: 100%;
    }
    @include mq ('tablet'){
        width: 70%;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 0;
    }
    @include mq ('phone'){
        width: 70%;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .counter{
        display: flex;
        width: 70%;
        align-items: center;
        margin: auto;
        padding-bottom: 30px;
        @include mq('w'){
            justify-content: center;
        }
        @include mq ('tablet'){
           width: 50%;
        }
        @include mq ('phone'){
            width: 50%;
        }
        i{
            font-size: 80px;
            color: $base-color-three;
            margin-right: 30px;
            @include mq ('tablet'){
                font-size: 40px;
                margin-right: 27px;
            }
            @include mq ('phone'){
                font-size: 30px;
                margin-right: 10px;
            }
        }
        .icon-text{
            width: 200px;
            text-align: center;
            p.custom{
                font-size: 50px;
                font-weight: 700;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: 0;
                @include mq ('tablet'){
                    font-size: 30px;
                }
                @include mq ('phone'){
                    font-size: 20px;
                }
            }
            p.ers{
                font-size: 17px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-top: 0;
                @include mq ('phone'){
                    font-size: 14px;
                }
            }
        }
    }
}
.planing{
    margin-left: 80px;
    width: 65%;
    @include mq('w'){
        width: 100%;
        margin-left: 0;
    }
    .plan-heading{
        @include mq('w'){
            text-align: center;
        }
        h2{
            font-size: 40px;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include mq ('phone'){
                font-size: 28px;
                line-height: 30px;
            }
        }
    }
    .plan-text{
        @include mq ('w'){
            text-align: center;
        }
        p{
            font-size: 17px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include mq ('phone'){
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}
.service-eight{
    background-image: url("../images/volvo-fh16-540_12.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin: 0 60px;
    @include mq('w'){
        height: auto;
        padding-bottom: 50px;
    }
    @include mq('phone'){
        margin: auto; 
        padding-bottom: 25px;  
    }
}
.service-eight{
    .container{
        width: 85%;
        margin: auto;
        @include mq('phone'){
            width: 99%;
        }
    }
}
.latest{
    position: relative;
    top: 110px;
    @include mq('w'){
        top: 0;
    }
    .heading{
       text-align: center;
       margin-bottom: 100px;
       @include mq('w'){
           margin-bottom: 50px;
       }
       @include mq('phone'){
           margin-bottom: 27px;   
       }
       h2{
           font-size: 35px;
           margin: 0;
           font-weight: 500;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           color: white;
           @include mq('w'){
                padding-top: 60px;
            }
            @include mq('phone'){
                font-size: 28px;
                padding-top: 30px;
            }
        }
    }
    .image-box{
        display: flex;
        justify-content: space-between;
        @include mq('w'){
            display: block;
        }
        .picture{
            width: 30%;
            @include mq('w'){
                display: flex;
                width: 100%;
                margin-bottom: 20px;
            }
            @include mq('phone'){
                display: block;
                text-align: center;
            }
            img{
                width: 100%;
                @include mq('w'){
                    height: 150px;
                    width: auto;
                }
                @include mq('phone'){
                    height: auto;
                    width: 100%;
                }
            }
            .picture-date{
                    background-color: $base-color-one;
                    position: relative;
                    bottom: 68px;
                    margin-left: 70%;
                    padding: 15px 0;
                    width: 80px;
                    text-align: center;
                    @include mq('w'){
                        display: none;
                    }
                p.pdn{
                    font-size: 16px;
                    font-weight: 300;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: white;
                    margin: 0;
                }
                p.pd{
                    font-size: 20px;
                    font-weight: 500;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: white;
                    margin: 0;
                }
            }
            .picture-text{
                position: relative;
                top: -40px;
                @include mq('w'){
                    margin-left: 0;
                    top: 0;
                 }
                 @include mq('phone'){
                     margin-top: 15px;
                 }
                h4{
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 500;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    @include mq('w'){
                        margin: 0;
                        line-height: 20px;
                        padding: 0 40px;
                    }
                }
                p.p-t{
                    font-size: 17px;
                    font-weight: 300;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    line-height: 25px;
                    @include mq('w'){
                        line-height: 17px;
                        padding: 0 40px;
                    }
                    @include mq('phone'){
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.footer{
    position: relative;
    top: 400px;
    @include mq('w'){
        top: 0;     
    }
}
.footer-top{
    background-color: $base-color;
    @include mq('w'){
        padding-top: 10;     
    }
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        @include mq('phone'){
            flex-wrap: wrap; 
        }
    }
}
.footer-contact{
    display: flex;
    margin: 35px 0;
    @include mq('w'){
        display: block;
        width: 33%;
        margin: auto;      
    }
    @include mq('phone'){
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;       
    }
    i{
        font-size: 40px;
        background-color: $base-color-one;
        border-radius: 50px;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        margin-right: 40px;
        color: white;
        @include mq('w'){
            margin: auto;
            width: 60px;
            height: 60px;
            font-size: 25px;
            line-height: 60px;
            position: relative;
            left: 40%;
        }
        @include mq('phone'){
            display: none; 
        }
    }
    .footer-contact-text{
        line-height: 40px;
        @include mq('w'){
            text-align: center;
        }
        h4{
            font-size: 22px;
            font-weight: 700;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            margin: 0;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            margin: 0;
        }
    }
}
.footer-midle{
    background-image: url("../images/9-9-9.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 70px 0;
    @include mq('w'){
        height: auto;      
    }
    .container{
        width: 85%;
        margin: auto;
    }
}
.footer-midle-heading{
    text-align: center;
    h3{
        font-size: 20px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }
    p{
        font-size: 40px;
        font-weight: 400;
        color: $base-color-three;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('phone'){
            font-size: 25px;    
        }
        i{
            margin-right: 40px;
            color:$base-color-one;
            @include mq('phone'){
                margin-right: 15px;
            }
        }
    }
}
.info{
    display: flex;
    justify-content: space-between;
    @include mq('w'){
        flex-wrap: wrap;    
    }
    .info-info{
        h3{
            font-size: 28px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            @include mq('w'){
                text-align: center;
            }
            @include mq('phone'){
                font-size: 22px;
            }
        }
    }
}
.info-info.social-social{
    width: 30%;
    @include mq('w'){
        width: 50%;       
     }
     @include mq('phone'){
        width: 100%;     
     }
    p{
        font-size: 17px;
        line-height: 24px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        @include mq('w'){
            text-align: center;
        }
        @include mq('phone'){
            font-size: 14px; 
        }
    }
}
.info-info.menu{
    width: 20%;
    @include mq('w'){
        width: 50%;       
    }
    @include mq('phone'){
         width: 100%;       
    }
    .menu-menu{
        a{
            text-decoration: none;
            p{
                font-size: 22px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                text-align: center;
                i{
                    color: $base-color-one;
                    margin-right: 15px;
                }
                @include mq('w'){
                    margin: 0;
                }
                @include mq('phone'){
                   font-size: 20px;
                }
            }
            p:hover{
                color: $base-color-three;
            }
        }
    }
}
.info-info.adress{
    width: 30%;
    @include mq('w'){
        width: 50%;       
    }
    @include mq('phone'){
         width: 100%;       
    }
    .adress-adress{
        p{
            font-size: 17px;
            line-height: 25px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            cursor: pointer;
            i{
                color: $base-color-one;
                margin-right: 15px;
                font-size: 25px;
            }
            @include mq('w'){
                text-align: left;
            }
            @include mq('phone'){
                font-size: 14px;
                text-align: center;
            }
        }
        p:hover{
                color: $base-color-three;
        }
    }
}
.info-info.logo-footer{
    width: 20%;
    @include mq('w'){
        width: 50%;       
    }
    @include mq('phone'){
        display: none;    
    }
    .logo-name{
        @include mq('w'){
            text-align: center; 
            margin-top: 70px;
        }
        img{
            width: 100%;
            @include mq('w'){
                height:auto;
                width: 50%;
            }
        }
    }
}
.footer-down{
    background-color: #232526;
    padding: 15px 0;
    .container{
        width: 85%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq('phone'){
            display: block; 
            width: 95%;  
        }
        .all-rights{
            @include mq('phone'){
                text-align: center;
            }
            p{
                font-size: 17px;
                font-weight: 400;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                @include mq('w'){
                    font-size: 15px;
                }
                @include mq('phone'){
                    font-size: 14px;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    color: $base-color-three;
                }
            }
        }
        .social-social{
            @include mq('phone'){
                text-align: center;
            }
            a {
                color: white;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border: 2px solid white;
                border-radius: 50%;
                margin-right: 15px;
                text-align: center;
                text-decoration: none;
                @include mq('phone'){
                    margin-right: 7px;
                     
                    &:nth-child(5){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
.updown{
    @include mq('w'){
        display: none;
    }
    a{
        color: $base-color-one;
        position: fixed;
        bottom: 30px;
        left: 95%;
        i{
            font-size: 40px;
        }    
    }
}