
//Mixin



@mixin univerzal {
    display: flex;
    margin-left: 40px;
    width: 50%;
    @include mq('w'){
        display: block; 
        margin-left: 0;
    }
    @include mq('phone'){
       width: 100%; 
    }
    .why-image{
        margin-right: 20px;
        @include mq('w'){
            margin-right: 0;
            text-align: center;
        }
        @include mq('phone'){
            margin-bottom: 20px;
        }
        img{
            @include mq('w'){
                height: 64px;
            }
        }
    }
    .why-text{
        @include mq('phone'){
            margin-bottom: 20px;
        }
        h4{
            margin: 0;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
            @include mq('w'){
                text-align: center;
            }
        }
        p{
            font-size: 17px;
            font-weight: 400;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 0;
            @include mq('w'){
                padding: 0 20px;
                text-align: center;
            }
            @include mq('phone'){
               padding: 0 40px;
               font-size: 15px;
            }
        }
    }
}