@import 'style-mixins';
@import 'variables';


body{
    margin: auto;
}
.container{ 
    width: 80%;
    margin: auto; 
}
.header-top{
    background-color:#fff; 
    border-top: 2px solid#216ef8 ;
    border-bottom: 2px solid#283a59 ;
}
.header-top-up{
    width: 75%; 
    margin-left: auto;
    background-color:$base-color-one ;
    display: flex;
    justify-content: space-between;
    @include mq('phone'){
        width: 100%;
        margin: auto;
    }
}
.slope-one{
    border-left: 35px outset white;
    border-top: 54px solid $base-color-one;
    @include mq('phone'){
        display: none;
    }
}
.header-top-first{
    display: flex;
    align-items: center;
    @include mq('phone'){
        padding-left: 5%;
    }
    p.time{
        font-size: inherit;
        padding-left: 20px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
            padding-left: 5px;
        }
    }
    img{
        width: 32px;
        @include mq('tablet'){
            width: 25px;
        }
        @include mq('phone'){
            width: 20px;
        }
    }
}
.header-top-secnd{
    display: flex;
    align-items: center;
    padding-right: 15%;
    @include mq('phone'){
        padding-right: 5%;
    }
    a{
        font-size: 25px;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        @include mq('tablet'){
            font-size: 15px;
            margin-right: 10px;
        }
        @include mq('phone'){
            font-size: 15px;
            margin-right: 10px;

            &:nth-child(5){
                margin-right: 0;
            }
        }
    }
}
.header-top-middle{
    display: flex;
    .container{
        display: flex;
        justify-content: space-between;
        @include mq('tablet'){
            width: 90%;
        }
        @include mq('phone'){
            width: 90%;
        }
    } 
} 
.header-name{
    @include mq('phone'){
        width: 100%;
    }
    h3{
        font-size: xx-large;
        font-family: sans-serif;
        margin-bottom: 0;
        @include mq('tablet'){
            font-size: 25px;
        }
        @include mq('phone'){
            font-size: 17px;
        }
    }
    p{
        margin-top: 0;
        font-family: cursive;
        font-size: inherit;
        @include mq('tablet'){
            font-size: 13px;
        }
        @include mq('phone'){
            font-size: 13px;
        }
    }
}
.header-contact{
    display: flex;
    align-items: center;
    @include mq('phone'){
        display: block;
        width: 65%;
        justify-content: space-between;
    }
}
.header-call{
    display: flex;
    align-items: center;
    @include mq('phone'){
        display: none;
        justify-content: space-between;
    }
}
.header-call img{
    width: 32px;
    @include mq('tablet'){
        width: 25px;
    }
    @include mq('phone'){
        width: 20px;
    }
}
.header-call-us{
    margin-left: 10px;
    @include mq('phone'){
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    p.call{
        font-size:$font-base-three;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
            margin-top: 0;
        }
    }
    p.number{
        color: darkolivegreen;
        margin-top: 5px;
        font-size: $font-base-three;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
        }
    }
}
.header-mail{
    display: flex;
    align-items: center;
    margin-left: 30px;
    @include mq('phone'){
        display: none;
        justify-content: space-between;
        margin-left: 0;
    }
}
.header-mail img{
    width: 32px;
    @include mq('tablet'){
        width: 25px;
    }
    @include mq('phone'){
        width: 20px;
    }
}
.header-send-us-mail{
    margin-left: 10px;
    @include mq('phone'){
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    p.send{
        font-size: $font-base-three;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
            margin-top: 0;
        }
    }
    p.mail{
        color: darkolivegreen;
        margin-top: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: $font-base-three;
        @include mq('tablet'){
            font-size: 14px;
        }
        @include mq('phone'){
            font-size: 12px;
        }
    }
}
.enquiry{
    margin-left: 30px;
    @include mq('phone'){
        display: none;
    }
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: $font-base-one;
        font-weight: 600;
        background-color: $base-color-three;
        padding: 20px 40px;
        border-radius: 5px;
        color: white;
        @include mq('tablet'){
            padding: 10px 15px;
            font-size: 11px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.header-top-downe{
    position: relative;
    display: flex;
    width: 75%;
    margin-left: auto;
    background-color:$base-color-two;
    @include mq('phone'){
        width: 100%;
    }
}
.slope-two{
    border-right: 45px outset transparent;
    border-top: 90px solid white;
    @include mq('phone'){
        display: none;
    }
}
.header-top-downe ul{
    display: flex;
    @include mq('phone'){
        margin: auto;
        padding: 0;
    }
    li{
        list-style-type: none;
        padding: 15px 30px;
        @include mq('tablet'){
            padding: 10px 20px;
        }
        @include mq('phone'){
            padding: 10px 9px;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: $font-base-one;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
.banner{
    display: flex;
    background-image: url("../images/slide01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    @include mq('phone'){
        height: auto;
    }
}
.banner .container{
    margin-top: 12%;
    .content{
        margin: auto;
        margin-bottom: 400px;
        @include mq('w'){
            margin-bottom: 200px;
        }
    }
}
.name{
    p.nam-bor{
        border-bottom: 4px solid $base-color-three;
        width: 5%;
        @include mq ('phone'){
            border-width: 2px;
        }
    }
     h1{
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        margin-top: 10px;
        margin-bottom: 0;
        @include mq('phone'){
            font-size: 28px; 
        }
    }
}
.description {
     p{
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        @include mq('phone'){
            font-size: 16px;
        }
    }
}
.service{
    background-image: url("../images/world.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    @include mq('w'){
        height: auto;
        padding: 50px 0;
    }
    .container{
        @include mq('phone'){
            width: 98%;
        }
    }
}
.ser-vice{
    display: flex;
    justify-content: space-between;
    @include mq('w'){
        flex-wrap: wrap;
    }
}
.ser{
    width: 30%;
    margin-top: -250px;
    @include mq('w'){
        width: 48%;
        margin-top: 0;
        margin-bottom: 20px;

        &:nth-child(3){
            width: 80%;
            margin: auto;
        }
    }
    @include mq('phone'){
        width: 90%;
        margin: auto;
        margin-bottom: 20px;

        &:nth-child(3){
            width: 90%;
            margin: auto;
            margin-bottom: 20px;
        }
    }
    .ser-img-univerzal{
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
    }
}
.ser-img-univerzal.one{
    background-image: url("../images/img1.jpg");
    @include univerzal;
}
.ser-img-univerzal.two{
    background-image: url("../images/kiper.jpeg");
    @include univerzal;
}
.ser-img-univerzal.three{
    background-image: url("../images/cisterna.jpg");
    @include univerzal;
}
.ser-text{
    background-color: white;
    padding: 20px 40px;
    @include text;
}
.details{
    margin-top: 100px;
    @include mq('w'){
        margin-bottom: 50px;
    }
    p{
        margin: auto;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
        text-align: center;
        color: white;
        background-color: $base-color-three;
        padding: 15px 40px;
        width: 130px;
        border-radius: 50px;
        @include mq ('phone'){
            width: 80px;
            font-size: 11px;
            padding: 10px 20px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.offer{
    background-color: white;
}
.offer .container{
    width: 80%;
}
.whatweoffer{
    h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #535353;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top:70 ;
        @include mq('phone'){
            font-size: 22px;
            margin-top: 45px;
            text-align: center;
        }
    }
}
.col-md-12{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    @include mq('tablet'){
        display: block;
    }
    @include mq('phone'){
        display: block;
        margin: 30px 0;
    }
}
.col-md-6{
    display: flex;
    width: 40%;
    padding: 30px 40px;
    align-items: center;
    background-color:#f8f8f8 ;
    @include mq('w'){
        display: block;
        width: 48%;
        padding: 0;
    }
    @include mq('tablet'){
        display: block;
        width: 100%;
        padding: 0;
    }
    @include mq('phone'){
        display: block;
        width: 100%;
        padding: 0;
    }
    @include cmd;
}
.industry{
    display: flex;
    position: relative;
    @include mq('phone'){
        display: block;
    }
}
.goods{
    display: flex;
    background-color:$base-color-two;
    width: 50%;
    @include mq('tablet'){
        width: 40%;
    }
    @include mq('phone'){
        width: 100%;
    }
}
.empty{
    width: 20%;
    @include mq('tablet'){
        display: none;
    }
    @include mq('phone'){
        display: none;
    }
}
.trans-goods{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
    @include mq('tablet'){
        width: 100%;
    }
    @include mq('phone'){
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 40px;
        padding-left: 0;
    }
}
.sector-sec {
    @include mq('phone'){
        text-align: center;
    }
    p.bor{
        border: 1.3px solid $base-color-three;
        width: 6%;
        margin-bottom: 7px;
        @include mq('phone'){
            width: 100%;
            margin-bottom: 30px;
        }
    }
    h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 21px;
        color: white;
        line-height: 25px;
        margin-top: 0;
    }
    p{
        font-size: $font-base-one;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.sector-pri{
    display: flex;
    margin-top: 35px;
    align-items: center;
    @include mq('phone'){
        display: block;
        width: 50%;
    }
    @include pri;
}
.sector-pri.five{
    @include mq('phone'){
        width: 100%;
    }
}
.truck{
    background-image: url("../images/19.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    @include mq('tablet'){
        width: 60%;
    }
    @include mq('phone'){
        width: 100%;
        height: 330px;
    }
}
.element{
    padding: 70px 0;
}
.element .container{
    display: flex;
    @include mq('tablet'){
        display: block;
    }
    @include mq('phone'){
        display: block;
    }
}
.ele.first{
    text-align: center;
    padding: 0 20px;
    @include mq('tablet'){
        padding: 0 0;
        margin-bottom: 30px;
    }
    @include mq('phone'){
        padding: 0 0;
        margin-bottom: 30px;
    }
}
.ele-head{
    h3{
        text-transform: uppercase;
        font-size: $font-base-two;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
.ele-pas{
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 20px;
        font-size: 14px;
    }
}
.benefit{
    display: flex;
}
.benefit .container{
    display: flex;
    width: 100%;
    @include mq ('tablet'){
        display: block;
    }
    @include mq('phone'){
        display: block;
    }
}
.provide{
    width: 40%;
    padding-left: 10%;
    background-color: #131820;
    padding-top: 70px;
    padding-bottom: 70px;
    @include mq('tablet'){
        width: 100%;
        padding: 50px 0;
    }
    @include mq('phone'){
        width: 100%;
        padding: 50px 0;
    }
    p.about{
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        @include mq('tablet'){
            padding: 0 40px;
        }
        @include mq('phone'){
            padding: 0 40px;
        }
    }
    h2{
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        @include mq('tablet'){
            padding: 0 40px;
        }
        @include mq('phone'){
            padding: 0 40px;
        }
    }
    p.des{
        color: white;
        font-size: 15px;
        font-family: sans-serif;
        line-height: 25px;
        padding-right: 20px;
        @include mq('tablet'){
            padding: 0 40px;
        }
        @include mq('phone'){
            padding: 0 40px;
        }
    }
}
.provide .book{
    width: 36%;
    text-align: center;
    background-color:$base-color-one;
    margin-top: 35px;
    @include mq('tablet'){
        width: 18%;
        margin: auto;
        margin-top: 35px;
    }
    @include mq('phone'){
        width: 23%;
        margin: auto;
        margin-top: 35px;
    }
    a{
        text-decoration: none;
        p{
            font-size: $font-base-two;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            padding: 20px 20px;
            @include mq('tablet'){
                padding: 15px 15px;
            }
            @include mq('phone'){
                padding: 10px 10px;
                font-size: 11px;
            }
        }
    }
}
.several{
    width: 60%;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $base-color-one;
    @include mq('tablet'){
        width: 100%;
    }
    @include mq('phone'){
        width: 100%;
    }
}
.t-t{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-left: 4%;
    @include mq('phone'){
        width: 90%;
    }
}
.three-theard{
    width: 32%;
    text-align: center;
    margin: 20px 0;
    @include mq('tablet'){
        width: 33%;
    }
    @include mq('phone'){
        width: 50%;

       &:nth-child(9){
           width: 100%;
       }
    }
}
.three-theard p{
    font-size: $font-base-three;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: white;
}
.client .container{
    width: 80%;
    padding-bottom: 50px;
    @include mq('phone'){
        width: 99%;
        margin: auto;
    }
}
.news{
    text-align: center;
    padding: 50px 0;
    @include mq('phone'){
        padding: 30px 0;
    }
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: #3f3d3d;
        font-weight: 600;
        text-transform: uppercase;
        @include mq('phone'){
            font-size: 20px;
        }
    }
    p.lin{
        border: 2px solid $base-color-three;
        width: 10%;
        margin: auto;
        @include mq('phone'){
            border-width: thin;
        }
    }
    p{
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #6a6a6a;
        @include mq('phone'){
            font-size: 15px;
        }
    }
}

.latest{
    display: flex;
    justify-content: space-between;
    @include mq('w'){
        display: block;
    }
}
.lat{
    width: 30%;
    @include mq('w'){
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    @include mq('phone'){
        display: block;
        margin-bottom: 25px;
    }
}
.lat .one{
    @include mq('w'){
        width: 30%;
        margin: auto;
    }
    @include mq('phone'){
        width: 100%;
        margin: auto;
    }
}
.lat .one img{
    border-radius: 5px;
    width: 100%;
    @include mq('w'){
        width: 100%;
    }
}
.one-text {
    @include mq('w'){
        width: 70%;
    }
    @include mq('phone'){
        width: 100%;
        margin: auto;
        text-align: center;
    }
    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        line-height: 60px;
        @include mq('w'){
            line-height: 0px;
            font-size: 18px;
            padding-left: 15px;
        }
        @include mq('phone'){
            font-size: 18px;
            line-height: 18px;
        }
    }
    h3.ugiko{
        line-height: inherit;
    }
    p.d{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #626161;
        line-height: 20px;
        @include mq('w'){
            line-height: 17px;
            font-size: 14px;
            padding-left: 15px;
        }
        @include mq('phone'){
            font-size: 14px;
        }
    }
    p.p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: $font-base-three;
        text-transform: uppercase;
        font-weight: 600;
        @include mq('w'){
            font-size: 14px;
            padding-left: 15px;
        }
        @include mq('phone'){
            font-size: 14px;
        }
    }
}
.slideshow-container{
    background-image: url("../images/99.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}
.mySlides{
    display: none;
}
.t{
    text-align: center;
    padding-top: 50px;
    @include mq('phone'){
        padding-top: 30px;
    }
    p.what{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
        @include mq('phone'){
            font-size: 22px;
        }
    }
    p.li{
        border-bottom: 3px solid $base-color-three;
        width: 8%;
        text-align: center;
        margin: auto;
        @include mq('phone'){
            border-width: thin;
        }
    }
    .quote{
        width: 3.5%;
        padding: 10px 0;
        margin: auto;
        background-color:$base-color-one;
        border-radius: 100%;
        margin-top: 50px;
        @include mq('phone'){
            width: 30px;
            margin-top: 20px;
        }
    }
    .quote img{
        width: 32px;
        @include mq('w'){
            width: 17px;
        }
    }
    p.say{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        color: white;
        width: 60%;
        margin: auto;
        line-height: 30px;
        padding-top: 40px;
        font-weight: 600;
        @include mq('phone'){
            font-size: 15px;
            padding-top: 20px;
            line-height: 20px;
            width: 100%;
        }
    }
    p.nam{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        color: $base-color-three;
        font-weight: 500;
        padding-top: 40px;
        margin-bottom: 0;
        @include mq('phone'){
            font-size: 17px;
            padding-top: 0;
        }
    }
    p.company-name{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 5px;
        font-size: $font-base-three;
        color: white;
        margin-bottom: 50px;
        @include mq('phone'){
            font-size: 14px;
            margin-bottom: 25px;
        }
    }
}
.dot-container{
    text-align: center;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color:$base-color-one;
}
.footer{
    background-color:#232526 ;
}
.footer .container{
    padding: 50px 0;
    width: 80%;
    @include mq('phone'){
        padding: 25px 0;
    }
    .cols{
        display: flex;
        flex-wrap: wrap;
    }
}
.column{
    width: 50%;
    @include mq('phone'){
        width: 100%;
    }
}
.column p{
    color:#c1c0c0 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.column.two p.ourservice{
    font-size: 20px;
    color: white;
    text-align: center;
    @include mq('phone'){
        width: 100%;
    }
}
.column.three p.worktime{
    font-size: 20px;
    color: white;
}
.column.four p.contact{
    font-size: 20px;
    color: white;
}
.column a{
    text-decoration: none;
}
.column.one{
    .one-img{
        text-align: center;
        h2{
            font-size: 25p;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
        }
    }
    p{
        text-align: center;
    }
    .social{
        display: flex;
        margin-top: 50px;
        @include mq('phone'){
            justify-content: center;
        }
        a{
            background-color: #3f3f3f;
            font-size: 25px;
            color: white;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin-right: 15px;
            @include mq('phone'){
                &:nth-child(5){
                    margin-right: 0;
                }
            }
        }
    }
}
.column.two{
    @include mq('phone'){
        display: flex;
        flex-wrap: wrap;
    }
    .ours{
        display: flex;
        margin: auto;
        margin-top: 20px;
        align-items: baseline;
        @include mq('phone'){
            width: 100%;
            justify-content: center;
        }
        .ours-img{
            padding-left: 200px;
            @include mq ('w'){
                padding-left: 150px;
            }
            @include mq ('tablet'){
                padding-left: 50px;
            }
            @include mq('phone'){
                padding-left: 0;
            }
            img{
                height: 10px;
            }
        }
        .ours-text{
            p{
                margin: 0;
                padding-left: 15px;
            }
            p:hover{
                color: $base-color-three;
            }
        }
    }
}
.column.three{
    margin-top: 45px;
    p{
        text-align: center;
    }
    .week{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;
        .day p,
        .time p{
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}
.column.four{
    margin-top: 45px;
    p{
        text-align: center;
        @include mq('phone'){
            width: 100%;
        }
    }
    .cont{
        padding-left: 200px;
        @include mq('w'){
            padding-left: 150px;
        }
        @include mq('tablet'){
            padding-left: 60px;
        }
        @include mq('phone'){
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 0;
        }
        p{
            font-size: 15px;
            color: white;
            text-align: left;
            margin: 40px 0;
            @include mq ('phone'){
                width: 100%;
                text-align: center;
                margin: 15px 0;
            }
            i{
                margin-right: 15px;
            }
        }
    }
}
.updown{  
    @include mq('w'){
        display: none;
    }
    a{
        color: $base-color-three;
        position: fixed;
        bottom: 30px;
        left: 95%;
        i{
            font-size: 40px;
        }    
    }
}