
//Mixins//





@mixin univerzal {
    .read-more{
        display: flex;
        position: relative;
        align-items: center;
        top: 212px;
        width: 50%;
        margin-left: auto;
    }
    .r-m{
        background-color:#173468;
        a{
            text-decoration: none;
            p{
                margin: 0;
                font-size: inherit;
                padding: 11.5px;
                color: white;
                font-family: monospace;
                @include mq('phone'){
                    padding: 8px;
                }
            }
        }
    }
    .r-m:hover{
        background-color: darkslategrey;
    }
    .arrow{
        background-color: darkblue;
        img{
            padding: 11.1px;
            @include mq('phone'){
                padding: 8px;
            }
        }
    }
    .arrow:hover{
        background-color: darkslategrey;
    }
}

@mixin  text {
    h3{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: left;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 15px;
    }
    p.line{
        border-bottom:3px solid orange;
        margin: 0;
        width: 50px;
    }
    p{
        line-height: 22px;
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@mixin  cmd {
    .off-img{
        margin-right: 25px;
        @include mq('w'){
            margin: 0 30px;
            text-align: center;
            margin-top: 30px;
        }
        @include mq('tablet'){
            margin: 0 30px;
            text-align: center;
        }
        @include mq('phone'){
            margin: 0;
            text-align: center;
        }
        img{
            @include mq('tablet'){
               padding-top: 40px;
            }
            @include mq('phone'){
               padding-top: 40px;
            }
        }
    }
    .off-tex{
        @include mq ('w'){
            margin: 0 30px;
            margin-bottom: 30px;
        }
        h3{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
            text-align: center;
        }
        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 15px;
            line-height: 19px;
            @include mq('tablet'){
                padding-bottom: 40px;
            }
            @include mq('phone'){
                padding-bottom: 40px;
                text-align: center;
            }
        }
    }
}

@mixin  pri {
    .sector-img{
        margin-left: 15px;
        @include mq('phone'){
            text-align: center;
            margin-bottom: 20px;
            margin-left: 0;
        }
        img{
            width: 64px;
        }
    }
    .sector-text{
        padding-left: 50px;
        @include mq('phone'){
            text-align: center;
            padding-left: 0;
        }
        p{
            font-size: 19px;
            color: white;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include mq('phone'){
                font-size: 15px;
            }
        }
    }
}