$base-color:#333333;
$base-color-one:#216ef8 ;
$base-color-two: #283a59; 
$base-color-three:orange;

$font-base-one:14px;
$font-base-two:15px;
$font-base-three:16px;
//Variables

// Media Query
@mixin mq($value) {
    @if $value == 'phone' {
        @media only screen and (min-width: 120px) and (max-width: 767px) {
             @content;
             }
     } @else if $value == 'tablet' {
         @media only screen and (min-width: 768px) and (max-width: 1024px) {
             @content;
             }
     } @else if $value == 'desktop' {
         @media only screen and (min-width: 1025px) {
             @content;
             }
     } @else if $value == 'w' {
         @media only screen and (max-width: 1200px) {
             @content;
             }
     } @else {
         @media only screen and (max-width: $value) {
             @content;
             }
     }
 }